@using Sciencecom.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity
@using System.Web.Script.Serialization
@model Constructions
@{

    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First().ToString();
    List<string> o = new List<string>();
    o.Add("");
    foreach (var item in new SciencecomEntities().Owners.Select(m => m.Name))
    {
        o.Add(item);
    }
    SelectList owners = new SelectList(o);
}


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Карта объектов</title>
@Styles.Render("~/Content/css")
<link href="~/Content/themes/flick/jquery-ui.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/messi")

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
@*<script src="~/Scripts/Map/MetalConstructions.js"></script>
    <script src="~/Scripts/Map/LightConstructions.js"></script>
    <script src="~/Scripts/Map/IllegalConstructions.js"></script>*@
<script src="~/Scripts/Map/DesignConstuctions.js"></script>
@*<script src="/Scripts/Autocomplete.js"></script>*@
<script type="text/javascript">
    var param = true;

    function CreateMap(param) {
        //записать в сесиию пременные
        var collectionMap = [];
        $(".content-col input").each(function (indx, element) {
            collectionMap.push({ id: $(element).attr("id"), value: $(element).val().toString() });

        });
        var saveValue = JSON.stringify(collectionMap);

        $.ajax({
            url: '@Url.Action("SaveSearch", "BackEndServices")',
            data: { collectionMap: saveValue },
            type: 'POST'
        });
        //поиск по карте
        var collectionMap = [];
        $(".content-col input").each(function (indx, element) {
            collectionMap.push({ id: $(element).attr("id"), value: $(element).val().toString() });
        });
        var SaveData = JSON.stringify(collectionMap);

        $.ajax({
            url: '@Url.Action("SaveSearch", "BackEndServices")',
            data: { collectionMap: SaveData },
            type: 'POST',
            success: function (e) {

            }
        });
        //поиск по карте
        $("#map").empty();
        ymaps.ready(init);
        var myMap;
        var role = "@role";
        var companyUser = "@user.Company";
        var objectId = "@ViewBag.Id";
        var type = "@ViewBag.Type";
        var flag = false;
        if (param == true) {
            flag = true;
        } else {
            flag = false;
        }

        function init() {
            myMap = new ymaps.Map("map", {
                center: [53.901, 27.5601],
                zoom: 11,
                behaviors: ['default', 'scrollZoom']
            });
            myMap.controls.add('typeSelector');
            myMap.controls.add('zoomControl');
            myMap.controls.add('searchControl');
            var geoObjects = new ymaps.GeoObjectCollection();
            geoObjects.add(GetBilboardPoints("@role", "@user.Company", objectId));

            myMap.geoObjects.add(geoObjects);
        }
    }

    function setRemove(param) {

        $('[href="/Data/DeleteAdvertisingDesign"]').
        attr("href", "/Data/DeleteAdvertisingDesign?id=" + param + "&switchtoMap=true");
    }

    CreateMap(param);
    $(document).ready(function () {

        if ('@(Html.Raw(Session["collectionMap"]))' != '') {
            var collectionMap = JSON.parse('@(Html.Raw(Session["collectionMap"]))');
            $(".content-col input").each(function (indx, element) {
                $(element).val(collectionMap[indx].value);
            });
        }
        $('a').click(function () {
            console.log($(this).prev().children("input"));
        });
    });


</script>
@*оформление столбца*@
<style type="text/css">
        .ui-state-default {
            line-height: 1.428571429;
            float: left;
        }

        .name-col {
            width: 55%;
            height: 29px;
        }

        .name-col > div {
            font-size: 11px;
            padding-top: 4px;
        }

        .content-col > div {
            font-size: 11px;
            padding: 2px;
            float: left;
            width:90% 
        }
          .content-col {
               width: 45%;
          }
        .content-col > div > div {
            background-color: white;
            height: 23px;
            border: 1px solid #dddddd;
         
        }

        .content-col [href="#"] {
            padding-right: 0.3em;
            padding-left: 0.3em;
            font-size: 11px;
            padding: 2px;
        }
    /*изменить цвет*/
    input {
        color: black;
    }

</style>



<div class=" body-content" >
    <h3 style="text-align: center">
        <h2>Карта рекламных конструкций</h2>
    </h3>
    <div><b>@Html.ActionLink("+ Добавить новую рекламную конструкцию", "CreateAdvertisingDesign", "Data", new { type = "Billboard" }, new { @class = "btn btn-default", style = "margin-bottom: 10px" })</b></div>

    @*<div  style="height: 800px">*@
    <div style="width:33%;float:left; height: 400px" >

        <div id="divForAddNewAD">

            @*<b>@Html.ActionLink("+ Изменить рекламной конструкции", "", new {type = "Billboard"}, new {style = "display: block"})</b>*@

        </div>

        <div>
            <div class="ui-state-default ui-th-column name-col" style="float: left">
                <div style="">Идентификационный номер</div>
            </div>

            <div class="ui-state-default ui-th-column content-col">
                <div>
                    <div>
                        <input type="text" name="Идентификационный_номер" id="gs_Идентификационный_номер" style="width: 100%;">
                    </div>
                </div>
                <a href="#" >x</a>
            </div>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="padding-top: 0; line-height: 1.2;">Собственник рекламной <br> конструкции</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Собственник_рекламной_конструкции" id="gs_Собственник_рекламной_конструкции" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="padding-top: 0; line-height: 1.2;">Вид рекламной <br> конструкции</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Вид_рекламной_конструкции" id="gs_Вид_рекламной_конструкции" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Населенный пункт</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Населенный_пункт" id="gs_Населенный_пункт" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Улица</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Улица" id="gs_Улица" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Дом</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Дом" id="gs_Дом" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Количество сторон</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Количество_сторон" id="gs_Количество_сторон" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>


        <div class="ui-state-default ui-th-column name-col">
            <div style="">Количестов поверхностей</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Количестов_поверхностей" id="gs_Количестов_поверхностей" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="padding-top: 0; line-height: 1.2;">Площадь рекламной <br> конструкции</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Площадь_рекламной_конструкции" id="gs_Площадь_рекламной_конструкции" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>Подстветка</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Подстветка" id="gs_Подстветка" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>№ договора с фин упр</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="№_договора_с_фин_упр" id="gs_№_договора_с_фин_упр" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>№ паспорта рекл</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="№_паспорта_рекл" id="gs_№_паспорта_рекл" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>Разреш по</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Разреш_по" id="gs_Разреш_по" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default">
            <a class="btn btn-info" style="color: #ffffff" href="#" id="showMap" onclick="CreateMap(false)">Показать</a>
        </div>
    </div>

    <div style="margin-left: 33%;height: 415px" id="map"></div>

</div>

<div class="">
    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year – <a href="#">OnCloud</a>
        </p>
    </footer>
</div>
@Scripts.Render("~/bundles/bootstrap")

@{ Html.RenderPartial("~/Views/Shared/PatialView/Modals.cshtml");}
