@using Sciencecom.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity
@model Constructions
@{

    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First().ToString();
    List<string> o = new List<string>();
    o.Add("");
    foreach (var item in new SciencecomEntities().Owners.Select(m => m.Name))
    {
        o.Add(item);
    }
    SelectList owners = new SelectList(o);
}


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Карта объектов</title>
@Styles.Render("~/Content/css")
<link href="~/Content/themes/flick/jquery-ui.css" rel="stylesheet" />

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jquery-ui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/messi")

<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<script src="~/Scripts/Map/DesignConstuctions.js"></script>

<script type="text/javascript">
    var param = true;
    var coor;

    function CreateMap(param) {
        if ($("#gs_Населенный_пункт").val() == undefined || $("#gs_Населенный_пункт").val() == "")
        {
            coord = [53.901, 27.5601];
            GetMap(coord);
        }
        else
        {
            var myGeocoder = ymaps.geocode($("#gs_Населенный_пункт").val());
            myGeocoder.then(
                function (res)
                {
                    coord = res.geoObjects.get(0).geometry.getCoordinates();
                    GetMap(coord);
                });
        }

        var collectionMap = {};
        collectionMap["postdata"] = {};
        var inputs = $("input[type='text'], input[type='date']");
        inputs.each(function(index, element)
        {
            collectionMap.postdata[element.name] = element.value;
        });
        var test = JSON.stringify(collectionMap);

            $.ajax({
                url: '@Url.Action("SaveSearch", "BackEndServices")',
                data: { collectionMap: test },
                type: 'POST',
                success: function (e)
                {
                    //alert(e);
                }
            });
    }
    function GetMap(coords) {
        

        //поиск по карте
        $("#map").empty();
        ymaps.ready(init);
        var myMap;

        var objectId = "@ViewBag.Id";



        function init() {
            myMap = new ymaps.Map("map", {
                center: coords,
                zoom: 11,
                behaviors: ['default', 'scrollZoom']
            });
            myMap.controls.add('typeSelector');
            myMap.controls.add('zoomControl');
            myMap.controls.add('searchControl');

            var clusterer = GetBilboardPoints("@role", "@user.Company", objectId, myMap);

            myMap.geoObjects.add(clusterer);
        }
    }
    function setRemove(param) {

        $('[href="/Data/DeleteAdvertisingDesign"]').
        attr("href", "/Data/DeleteAdvertisingDesign?id=" + param + "&switchtoMap=true");
    }

    CreateMap(param);
    $(document).ready(function () {

        if ('@(Html.Raw(Session["collectionMap"]))' != '[]' && '@(Html.Raw(Session["collectionMap"]))' != '') {
            var collectionMap = JSON.parse('@(Html.Raw(Session["collectionMap"]))');
                for (var prop in collectionMap.postdata)
                {
                    //console.log("Свойство:" + prop + "       Значение:"+ collectionMap.postdata[prop]);
                    $("input[id$='" + prop + "']").val(collectionMap.postdata[prop]);
                }
        }
        //чистит инпуты
        $('a').click(function () {
            $(this).prev().find("input").val("");
        });
    });


</script>
@*оформление столбца*@
<style type="text/css">
    
    #hidden {
        display: none;
    }

     .ui-state-default {
         line-height: 1.428571429;
         float: left;
     }

    .name-col {
        height: 7.69%;
        width: 55%;
        position: relative; 
        
    }

    .name-col > div {
        font-size: 11px;
        /*padding: auto;*/
        margin-left: auto;
        margin-right: auto;
        position: absolute;   
        top: 25%; 
        left: 50%;    
        transform: translateX(-50%); 
        align: justify;
    }

    .content-col > div {
        font-size: 11px;
        padding: 2px;
        float: left;
        width: 90%;
        
    }
    .content-col {
        width: 45%;
         height: 7.69%;
    }
    .content-col > div > div {
        background-color: white;
        height: 25px;
        border: 1px solid #dddddd;
         
    }

    .content-col [href="#"] {
        padding-right: 0.3em;
        padding-left: 0.3em;
        font-size: 11px;
        padding: 2px;
    }
    /*изменить цвет*/
    input {
        color: black;width: 100%;height: 100%;
    }
</style>



<div class=" body-content">
    <h3 style="text-align: center">
        <h2>Карта конструкций</h2>
    </h3>
    <div><b><input type="button" value="+ Добавить новую конструкцию" id="AddConstruction" class="btn btn-default" data-toggle="modal" data-target="#myModal"></b>
        @*<b>@Html.ActionLink("+ Добавить новую конструкцию", "CreateAdvertisingDesign", "Data", new {type = "Billboard"}, new {@class = "btn btn-default", style = "margin-bottom: 10px"})</b>*@
    </div>

    @*<div  style="height: 800px">*@
    <div style="width: 33%; float: left; height: 415px">

        <div id="divForAddNewAD">

            @*<b>@Html.ActionLink("+ Изменить конструкции", "", new {type = "Billboard"}, new {style = "display: block"})</b>*@

        </div>

        <div id="hidden">
            <div class="ui-state-default ui-th-column name-col" style="float: left">
                <div style="">Идентификационный номер</div>
            </div>

            <div class="ui-state-default ui-th-column content-col">
                <div>
                    <div>
                        <input type="text" name="Идентификационный_номер" id="gs_Идентификационный_номер" style="width: 100%;">
                    </div>
                </div>
                <a href="#">x</a>
            </div>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="padding-top: 0; line-height: 1.2;">Собственник</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Собственник_конструкции" id="gs_Собственник_конструкции" style="">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="padding-top: 0; line-height: 1.2;">Вид конструкции</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Вид_конструкции" id="gs_Вид_конструкции" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Населенный пункт</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Населенный_пункт" id="gs_Населенный_пункт" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Улица</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Улица" id="gs_Улица" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="">Дом</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Дом" id="gs_Дом" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>
                <div class="ui-state-default ui-th-column name-col">
            <div style="">Номер_опоры</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Номер_опоры" id="gs_Номер_опоры" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>
        <div class="ui-state-default ui-th-column name-col">
            <div style="">Количество сторон</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Количество_сторон" id="gs_Количество_сторон" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>


        <div class="ui-state-default ui-th-column name-col">
            <div style="">Количестов поверхностей</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Количестов_поверхностей" id="gs_Количестов_поверхностей" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div style="padding-top: 0; line-height: 1.2;">Площадь конструкции</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="text" name="Площадь_конструкции" id="gs_Площадь_конструкции" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col" id="hidden">
            <div>Подстветка</div>
        </div>

        <div class="ui-state-default ui-th-column content-col" id="hidden">
            <div>
                <div>
                    <input type="text" name="Подстветка" id="gs_Подстветка" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col" id="hidden">
            <div>№ договора с фин упр</div>
        </div>

        <div class="ui-state-default ui-th-column content-col" id="hidden">
            <div>
                <div>
                    <input type="text" name="№_договора_с_фин_упр" id="gs_№_договора_с_фин_упр" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col" id="hidden">
            <div>№ паспорта рекл</div>
        </div>

        <div class="ui-state-default ui-th-column content-col" id="hidden">
            <div>
                <div>
                    <input type="text" name="№_паспорта_рекл" id="gs_№_паспорта_рекл" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>Начало Разреш по</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="date" name="beginingStartDateRange" id="gs_beginingStartDateRange" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>Конец Разреш по</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="date" name="endingStartDateRange" id="gs_endingStartDateRange" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>

        <div class="ui-state-default ui-th-column name-col">
            <div>Начало Разреш с</div>
        </div>

    <div class="ui-state-default ui-th-column content-col">
        <div>
            <div>
                <input type="date" name="beginingEndDateRange" id="gs_beginingEndDateRange" style="width: 100%;">
            </div>
        </div>
        <a href="#" style="">x</a>
    </div>
        <div class="ui-state-default ui-th-column name-col">
            <div>Конец Разреш с</div>
        </div>

        <div class="ui-state-default ui-th-column content-col">
            <div>
                <div>
                    <input type="date" name="endingEndDateRange" id="gs_endingEndDateRange" style="width: 100%;">
                </div>
            </div>
            <a href="#" style="">x</a>
        </div>
        <div class="ui-state-default">
            <a class="btn btn-info" style="color: #ffffff" href="#" id="showMap" onclick="CreateMap(false)">Показать</a>
        </div>
    </div>

    <div style="margin-left: 33%; height: 415px" id="map"></div>

</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Выберите тип конструкции</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                @Html.ActionLink("Щит", "CreateAdvertisingDesign", "Data", new { type = "Billboard" }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Металлический указатель", "CreateMetalPointerDesign", "Data", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Световой короб", "CreateLightDuctDesign", "Data", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;n" })
                <br/>
                @Html.ActionLink("Неопознанная конструкция", "CreateIllegalDesign", "Data", new { }, new { @class = "btn btn-default", style = "width : 196px" })
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>

<div class="">
    <hr />
    <footer>
        <p>
            &copy; @DateTime.Now.Year – <a href="#">OnCloud</a>
        </p>
    </footer>
</div>
@Scripts.Render("~/bundles/bootstrap")

@{ Html.RenderPartial("~/Views/Shared/PatialView/Modals.cshtml");}
