@model Sciencecom.Models.LightConstruction

@{
    ViewBag.Title = "Добавить паспорт НР";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Добавить паспорт НР </h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
 
    <div>
        @Html.ValidationMessage("Error")
        @*@Html.ValidationMessageFor(model=>model.Id)
        @Html.ValidationMessageFor(model => model.IdOwner)
        @Html.ValidationMessageFor(model => model.IdWhoAdded)
        @Html.ValidationMessageFor(model => model.IsSocial)
        @Html.ValidationMessageFor(model => model.Owner)
        @Html.ValidationMessageFor(model => model.OwnerWhoAdded)
        @Html.ValidationMessageFor(model => model.StartDate)
        @Html.ValidationMessageFor(model => model.FinishDate)
        @Html.ValidationMessageFor(model => model.Street1)
        @Html.ValidationMessageFor(model => model.Street2)
        @Html.ValidationMessageFor(model => model.FromStreet)
        @Html.ValidationMessageFor(model => model.Support)
        @Html.ValidationMessageFor(model => model.IsSocial)
        @Html.ValidationMessageFor(model => model.OnStatement)*@
      @ViewBag.Errors
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Support)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Support)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Street2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Street2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FromStreet)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FromStreet)
            </dd>

            <dt>
                Разрешено с:
            </dt>

            <dd>
                @{
                    string day =  "";
                           if (Model.StartDate.Date.Day < 10)
                           {
                               day = "0" + Model.StartDate.Date.Day.ToString();
                           }
                           else
                           {
                               day = Model.StartDate.Date.Day.ToString();
                           }
                           string month = "";
                           if (Model.StartDate.Date.Month < 10)
                           {
                               month = "0" + Model.StartDate.Date.Month.ToString();
                           }
                           else
                           {
                               month = Model.StartDate.Date.Month.ToString();
                           }
                          
                           <input type="date" value="@Model.StartDate.Date.Year-@month-@day" name="startDate" />                
                 }
            </dd>
            <dt>
                Разрешено до:
            </dt>

            <dd>
                @{         
                     <input type="date" id="davaToday" name="finishDate">
                     <script>
                     document.getElementById('davaToday').valueAsDate = new Date();
                     </script>
                 }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsSocial)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSocial)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OnStatement)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OnStatement)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Owner.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Owner.Name)
            </dd>
            @Html.ValidationMessage("Photo")
            <dt>
                Паспорт НР (стр 1):
            </dt>
            <dd>
                <input type="file" name="ispolkom1" accept="image/jpeg" /><br />
                @Html.Raw("Не более 1 МБ")
            </dd> 
            <dt>
                Паспорт НР (стр 2):
            </dt>
            <dd>
                <input type="file" name="ispolkom2" accept="image/jpeg" /><br />
                @Html.Raw("Не более 1 МБ")
            </dd> 
            <dt>
                Фото:
            </dt>
            <dd>
                <input type="file" name="photo" accept="image/jpeg" /><br />
                @Html.Raw("Не более 1 МБ")
            </dd> 
        </dl>
            <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
}
<p>  
    @Html.ActionLink("Вернуться к списку", "Light")
</p>
