@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Sciencecom.Models
@model  System.Data.Entity.DbSet<AdvertisingStructure>
@{
    ViewBag.Title = "Advertisign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "billboardsTable"

    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First();
    int SurfaceCOunt = 0;
    int id = 1;
}


@Styles.Render("~/Content/jqCrid")
@Scripts.Render("~/bundles/jqCrid")
<script type="text/javascript">
    $(document).ready(function () {

        //создание таблицы
        tableToGrid("#table", { height: 700 });
        var $Tablebacklight;

        //подсветка
        $('table tr').on("click", function () {
            if (typeof $Tablebacklight != 'undefined') {
                $Tablebacklight.css("background-color", "");
            }
            $Tablebacklight = $(this);
            $Tablebacklight.css("background", "#ADDEFF");

        });
        //спрятать убрать всплывающие окна
        $("#AddNewAD").click(function () {
            if ($('#divForAddNewAD').css("visibility") == "hidden") {
                $('#divForAddNewAD').css("visibility", "visible");
            } else {
                $('#divForAddNewAD').css("visibility", "hidden");
            }
        });
        $("#EditStatusAD").click(function () {
            if ($('#divEditStatusAD').css("visibility") == "hidden") {
                $('#divEditStatusAD').css("visibility", "visible");
            } else {
                $('#divEditStatusAD').css("visibility", "hidden");
            }
        });
        //переход через ajax на edit billbord
        $('#EditBillbord').click(function () {
            if ($Tablebacklight != "undefined") {
                var IdGuid = $Tablebacklight.children("td:last").children().text();
                $.get('@Url.Action("EditAdvertisingDesign", "Data")', { id: IdGuid }).success(function (result) {
                    $("#Page").html(result);
                }).error(function () {
                    alert("что то пошло не так");
                });
            }
        });


    });

</script>
<div id ="Page">
<h2>Таблица рекламных конструкций</h2>
@{
    if (role != "ReadOnly")
    {
        <p>
            <b><a href="#" style="margin-right: 110px" id="AddNewAD">+ Новая рекламная конструкция</a></b>
            <b><a href="#" style="margin-right: 110px" id="EditStatusAD">+ Изменить статус рекламной конструкции</a></b>
            <b><a href="#" id="EditBillbord">+ Изменить существующую рекламную конструкцию</a></b>
        </p>
    }
}
<div id="divForAddNewAD" style="margin-left: 30px; margin-right: 40px; margin-bottom: 10px; float: left;visibility: hidden">
    <b>@Html.ActionLink("+ Карточка рекламной конструкции", "CreateAdvertisingDesign", new { type = "Billboard" })</b>
    <b>@Html.ActionLink("+ Подать заявку на согласование паспорта рекламы", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "display: block"})</b>
    
</div>

<div id="divEditStatusAD" style="visibility: hidden">
    <b>@Html.ActionLink("+ Ввести данные паспорта рекламы", "CreateBilboard", new {type = "Billboard"}, new {style = "margin-right:140px"})</b>
    <b>@Html.ActionLink("+ Ввести данные об установке рекламной конструкции", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "margin-right:140px;display: block"})</b>
    <b>@Html.ActionLink("+ Ввести данные об демонтаже рекламной контсрукции", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "margin-right:140px;display: block"})</b>
</div>


<table id="table" class="table-bordered"  cellpadding="5">
    <tr>
        <th>Id</th>
        <th>Собственник</th>
        <th>Вид</th>
        <th>Уникальный номер </th>
        <th>Статус</th>
        <th>Нас. пункт </th>
        <th>Улица 1</th>
        <th>Дом</th>
        <th>Улица 2</th>
        <th>Со стороны улицы </th>
        <th>Элемент улично-дорожной сети</th>
        <th> Количество сторон</th>
        <th> Количестов поверхностей</th>
        <th>№ договора с финансовым управлением</th>
        <th>№ паспорта рекламы</th>
        <th> Паспорт выдан с</th>
        <th> Паспорт выдан по</th>

        @*<th>Долгота</th>
        <th>Широта</th>        
        <th>Планируемая дата установки</th>      
        <th> Дата фактической установки </th>
        <th> Дата демонтажа</th>
        <th> Дата проверки</th>*@
       
      
    </tr>
    @foreach (var i in Model)
    {
       
                <tr >
                    <td> @id@{ ++id;}</td>
                    <td>@i.Owner.Name</td>
                    <td>@i.TypeOfAdvertisingStructure.Name</td>
                    <td>@i.UniqueNumber</td>
                    <td>@i.Status.NameStatus</td>
                    <td>@i.Locality.NameLocality</td>
                    <td>@i.Street1</td>
                    <td>@i.House1</td>
                    <td>@i.Street2</td>
                    <td>@i.FromStreet</td>
                    <td>@i.TheElementOfTheRoadNetwork.TheElementOfTheRoadNetworkName</td>
                    <td>@i.Sides.Count</td>
                    <td>
                        @foreach (var side in i.Sides.OrderBy(a => a.Name))
                        {
                            SurfaceCOunt += side.Surfaces.Count;
                        }
                        @SurfaceCOunt
                        @{ SurfaceCOunt = 0;}
                        <div style="display: none">@i.Id</div>
                    </td>
                    <td>@i.C_ContractFinancialManagement</td>
                    <td>@i.C_PassportAdvertising</td>
                    <td>@i.StartDate</td>
                    <td>@i.EndDate</td>

                    @*<td>@i.Height</td>
                    <td>@i.Breadth</td>              
                    <td>@i.PlannedInstallationDate</td>                   
                    <td>@i.DateOfActualInstallation</td>
                    <td>@i.DateDismantling</td>
                    <td>@i.RevisionDate</td>*@
                  
            
                  </tr>
     }

</table>
</div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year – <a href="http://scom.by" target="_blank">"OnCloud"</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
    </footer>
