@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Sciencecom.Models
@model  System.Data.Entity.DbSet<AdvertisingStructure>
@{
    ViewBag.Title = "Advertisign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "billboardsTable"
        //Url = Url.Action("ShowBillboardTablePartial"),
    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First().ToString();
}


@Styles.Render("~/Content/jqCrid")
@Scripts.Render("~/bundles/jqCrid")
<script type="text/javascript">
    $(document).ready(function() {
        //спрятать убрать всплывающие окна
        $("#AddNewAD").click(function() {
            if ($('#divForAddNewAD').css("visibility") == "hidden") {
                $('#divForAddNewAD').css("visibility", "visible");
            } else {
                $('#divForAddNewAD').css("visibility", "hidden");
            }
        });
        $("#EditStatusAD").click(function() {
            if ($('#divEditStatusAD').css("visibility") == "hidden") {
                $('#divEditStatusAD').css("visibility", "visible");
            } else {
                $('#divEditStatusAD').css("visibility", "hidden");
            }
        });

    });
    $(function() {
        tableToGrid("#table", {});
    });
</script>

<h2>Таблица рекламных конструкций</h2>
@{
    if (role != "ReadOnly")
    {
        <p>
            <b><a href="#" style="margin-right: 140px" id="AddNewAD">+ Добавить новую рекламную конструкцию</a></b>
            <b><a href="#"  id="EditStatusAD">+ Изменить статус рекламной конструкции</a></b>
        </p>
    }
}
<div id="divForAddNewAD" style="margin-left: 40px; margin-right: 80px; margin-bottom: 10px; float: left;visibility: hidden">
    <b>@Html.ActionLink("+ Добавить существующую рекламную конструкцию", "CreateAdvertisingDesign", new { type = "Billboard" })</b>
    <b>@Html.ActionLink("+ Подать заявку на согласование паспорта рекламы", "CreateAdvertisingDesign", new { type = "Billboard" }, new { style = "display: block" })</b>
</div>

<div id="divEditStatusAD" style="visibility: hidden">
    <b>@Html.ActionLink("+ Ввести данные паспорта рекламы", "CreateBilboard", new {type = "Billboard"}, new {style = "margin-right:140px"})</b>
    <b>@Html.ActionLink("+ Ввести данные об установке рекламной конструкции", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "margin-right:140px;display: block"})</b>
    <b>@Html.ActionLink("+ Ввести данные об демонтаже рекламной контсрукции", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "margin-right:140px;display: block"})</b>
</div>


<table id="table" class="table-bordered" cellpadding="5">
    <tr>
        <th>Id</th>
        <th>Собственник</th>
        <th>Долгота</th>
        <th>Широта</th>
        <th>Статус</th>
        <th>Уникальный номер </th>
        <th>Нас. пункт </th>
        <th>Элемент улично-дорожной сети</th>
        <th>Улица 1</th>
        <th>Дом</th>
        <th>Улица 2</th>
        <th>Со стороны улицы </th>
        <th>№ договора с финансовым управлением</th>
        <th>№ паспорта рекламы</th>
        <th>Планируемая дата установки</th>
        <th> Дата выдачи паспорта</th>
        <th> Дата фактической установки </th>
        <th> Дата демонтажа</th>
        <th> Дата проверки</th>
        <th> Дата проверки</th>
      
    </tr>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.Id_show</td>
            <td>@i.Owner.Name</td>
            <td>@i.Height</td>
            <td>@i.Breadth</td>
            <td>@i.Status</td>
            <td>@i.UniqueNumber</td>
            <td>@i.Locality</td>
            <td>@i.Street1</td>
            <td>@i.TheElementOfTheRoadNetwork</td>
            <td>@i.House1</td>
            <td>@i.Street2</td>
            <td>@i.FromStreet</td>
            <td>@i.C_ContractFinancialManagement</td>
            <td>@i.C_PassportAdvertising</td>
            <td>@i.PlannedInstallationDate</td>
            <td>@i.DateOfTakenPassport</td>
            <td>@i.DateOfActualInstallation</td>
            <td>@i.DateDismantling</td>
            <td>@i.RevisionDate</td>
    
        </tr>
    }
</table>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year – <a href="http://scom.by" target="_blank">"OnCloud"</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
    </footer>
