@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Newtonsoft.Json
@using Sciencecom.Models
@model  System.Data.Entity.DbSet<AdvertisingStructure>
@{
    ViewBag.Title = "Advertisign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "billboardsTable"

    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First();
    int SurfaceCOunt = 0;
    int SurfaceSumm = 0;

}


@Styles.Render("~/Content/jqCrid")
@Scripts.Render("~/bundles/jqCrid")
@Scripts.Render("~/bundles/tooltip")
<script type="text/javascript">
    var $SaveIdForHideTooltip;
    var $Tablebacklight;
    var Showonthemap=@Html.Raw(JsonConvert.SerializeObject(Model.Select(a=>a.Id_show), Formatting.Indented, new JsonSerializerSettings
    {ReferenceLoopHandling = ReferenceLoopHandling.Ignore}));

    $(document).ready(function () {

        function HideRows() {
            $('.ui-widget-content.jqgrow.ui-row-ltr').each(
                function (indx, element) {
                    $(element).hide();
                }
            );
        }
        //создание таблицы
        tableToGrid("#table", {
            height: 700,
            colNames: [
                "Идентификационный номер", "Собственник рекламной конструкции", "Вид рекламной конструкции",
                "Населенный пункт","Улица", "Дом", "Количество сторон", "Количестов поверхностей",
                "Площадь рекламной конструкции","Подстветка", "№ договора с фин упр","№ паспорта рекл",
                "Разреш по"
            ],
            forceFit:false,

            cmTemplate:{"resizable": false,sortable:false},
            colModel: [
                { name: "Идентификационный_номер", width: 25, align: "center"},
                { name: "Собственник_рекламной_конструкции", width: 22, align: "center" },
                { name: "Вид_рекламной_конструкции", width: 23, align: "center" },
                { name: "Населенный_пункт", width: 23, align: "center" },
                { name: "Улица", width: 24, align: "center" },
                { name: "Дом", width: 23, align: "center" },
                { name: "Количество_сторон", width: 23, align: "center" },
                { name: "Количестов_поверхностей", width: 22, align: "center" },
                { name: "Площадь_рекламной_конструкции", width: 24, align: "center" },
                { name: "Подстветка", width: 25, align: "center" },
                { name: "№_договора_с_фин_упр", width: 20, align: "center" },
                { name: "№_паспорта_рекл", width: 20, align: "center" },
                { name: "Разреш_по", width: 20, align: "center" }

            ]
        });

        HideRows();

        //Поиск
        $('#table').jqGrid('filterToolbar', {
        }
        );
        $(".ui-jqgrid-bdiv").append("<h1 style=\"margin-left: 700px;margin-top: 300px\">Выберите параметры поиска</h1>");

        //подсветка
        $('table tr').on("click", function () {

            if (typeof $Tablebacklight != 'undefined') {
                $Tablebacklight.css("background-color", "");
            }
            $Tablebacklight = $(this);
            $Tablebacklight.css("background", "#ADDEFF");

        });
        //спрятать убрать всплывающие окна
        $("#AddNewAD").click(function () {
            if ($('#divForAddNewAD').css("visibility") == "hidden") {
                $('#divForAddNewAD').css("visibility", "visible");
            } else {
                $('#divForAddNewAD').css("visibility", "hidden");
            }
        });
        $("#EditStatusAD").click(function () {
            if ($('#divEditStatusAD').css("visibility") == "hidden") {
                $('#divEditStatusAD').css("visibility", "visible");
            } else {
                $('#divEditStatusAD').css("visibility", "hidden");
            }
        });
        //переход через ajax на edit billbord
        $('#EditBillbord').click(function () {
            if ($Tablebacklight != "undefined") {
                var IdGuid = $Tablebacklight.children("td:last").children().text();
                $.get('@Url.Action("EditAdvertisingDesign", "Data")', { id: IdGuid }).success(function(result) {
                    $("#Page").html(result);
                }).error(function() {
                    alert("что то пошло не так");
                });
            }
        });

        //собираем данные из поиска
        function PullData() {
            var collectionMap =[];
            $(".ui-state-default .ui-th-ltr input").each(function(indx, element) {
                collectionMap.push({ id: $(element).attr("id"), value:  $(element).val().toString() });
            });

            var test = JSON.stringify(collectionMap);



            $.ajax({
                url: '@Url.Action("SaveSearch", "BackEndServices")',
                data: { collectionMap: test },
                type: 'POST',
                success: function(e) {
                    //alert(e);
                }
            });
        }
        //подсказка ,подсветка
        function FunctionaFortable() {

            $(".ui-jqgrid-bdiv>h1").remove();
            var sgrid = $("#table")[0];
            sgrid.triggerToolbar();

            $('.ui-widget-content.jqgrow.ui-row-ltr').on("click", function () {

                if (typeof $Tablebacklight != 'undefined') {
                    $Tablebacklight.css("background-color", "");
                }
                $Tablebacklight = $(this);
                $Tablebacklight.css("background", "#ADDEFF");

            });

            //подсказка
            $('.ui-widget-content.jqgrow.ui-row-ltr').each(function (indx, element) {


                $(element).tooltipsy({
                    alignTo: 'cursor',
                    offset: [0, -85],
                    hideEvent: 'focusout',
                    content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                        '+<a href="/Map/Index/'+Showonthemap[indx]+'">Показать на карте</a></br>' +
                        '+<a href="/Data/Documents/'+Showonthemap[indx]+'">Показать данные о конструкции</a></br>' +
                        '+<a href="/Data/EditAdvertisingDesign/'+Showonthemap[indx]+'">Изменить данные о конструкции</a></br>' +
                        '+<a  href="#DeleteStructures"  role="button" data-toggle="modal">Удалить конструкцию</a></br>' +
                        '</button>',
                    show: function (e, $el) {
                        $el.show(100);
                    },
                    hide: function (e, $el) {

                    },
                    delay: 200,
                    className: 'tooltipsy',
                    css: {}
                });
            }
            );
        }
        function SetDate() {
            var collectionMap =JSON.parse('@(Html.Raw(Session["collectionMap"]))') ;

            if(collectionMap!=""){
                $(".ui-state-default .ui-th-ltr input").each(function(indx, element) {
                    $(element).val(collectionMap[indx].value);

                });
                FunctionaFortable();
            }

        }



        $("#search").click(function () {
            HideRows();
            PullData();
            FunctionaFortable();
        });
        window.onload = SetDate();
    });

    $("html").dblclick(function (e) {
        //накручивание индекса к пути удалить
        $('[href="/Data/DeleteAdvertisingDesign"]').
         attr("href","/Data/DeleteAdvertisingDesign/"+(Showonthemap[($(e.target).closest("tr").attr("id")-1)])+"") ;

        if (document.activeElement.getAttribute("class") != "HideClass") {
            $SaveIdForHideTooltip = document.activeElement.getAttribute("id")-1;
        }
    });

    $("html").click(function () {
        var info = document.activeElement;

        if (info.getAttribute("class") != "HideClass") {
            $('[hide=' + $SaveIdForHideTooltip + ']').parent().parent().hide();

        };
    });
</script>
@*чтобы jqgtid разбивал на несколько строк*@
<style type="text/css" media="screen">
    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
    }
</style>
<div id="Page">

    <h2>Таблица рекламных конструкций</h2>
    @{
        if (role != "ReadOnly")
        {
            <p>
                <b>@Html.ActionLink("+ Добавить новую рекламную конструкцию", "CreateAdvertisingDesign", new { type = "Billboard" }, new { @class = "btn btn-default" })</b>
                <b> <input type="button" value="Поиск" id="search" class="btn btn-default"></b>
                @*<b><a href="#" style="margin-right: 110px" id="AddNewAD">+ Новая рекламная конструкция</a></b>
                    <b><a href="#" style="margin-right: 110px" id="EditStatusAD">+ Изменить статус рекламной конструкции</a></b>
                    <b><a href="#" id="EditBillbord">+ Изменить существующую рекламную конструкцию</a></b>*@
            </p>
        }
    }

    @*<div id="divForAddNewAD" style="margin-left: 30px; margin-right: 40px; margin-bottom: 10px; float: left; visibility: hidden">
            <b>@Html.ActionLink("+ Карточка рекламной конструкции", "CreateAdvertisingDesign", new {type = "Billboard"})</b>
            <b>@Html.ActionLink("+ Подать заявку на согласование паспорта рекламы", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "display: block"})</b>

        </div>

        <div id="divEditStatusAD" style="visibility: hidden">
            <b>@Html.ActionLink("+ Ввести данные паспорта рекламы", "CreateBilboard", new {type = "Billboard"}, new {style = "margin-right:140px"})</b>
            <b>@Html.ActionLink("+ Ввести данные об установке рекламной конструкции", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "margin-right:140px;display: block"})</b>
            <b>@Html.ActionLink("+ Ввести данные об демонтаже рекламной контсрукции", "CreateAdvertisingDesign", new {type = "Billboard"}, new {style = "margin-right:140px;display: block"})</b>
        </div>*@


    <table id="table" class="table-bordered" cellpadding="5">
        <tr>

            <th>Идентификационный_номер</th>
            <th>Собственник_рекламной_конструкции</th>
            <th>Вид_рекламной_конструкции</th>
            <th>Населенный_пункт</th>
            <th>Улица</th>
            <th>Дом</th>
            <th> Количество_сторон</th>
            <th> Количестов_поверхностей</th>
            <th>Площадь_рекламной_конструкции</th>
            <th>Подстветка</th>
            <th> №_договора_с_фин_упр</th>
            <th>№_паспорта_рекл</th>
            <th>Разреш_по</th>

        </tr>
        @foreach (var i in Model)
        {
            foreach (var side in i.Sides)
            {
                SurfaceCOunt += side.Surfaces.Count;
                foreach (var Surface in side.Surfaces)
                {
                    SurfaceSumm += Surface.Space;
                }

            }
            <tr title="test">

                <td>@i.UniqueNumber</td>
                <td>@i.Owner.Name </td>
                <td>@i.TypeOfAdvertisingStructure.Name</td>
                <td>@i.Locality.NameLocality</td>
                <td>@i.Street1</td>
                <td>@i.House1</td>
                <td>@i.Sides.Count</td>
                <td>@SurfaceCOunt</td>
                <td>@SurfaceSumm</td>
                <td>@i.Backlight</td>
                <td>@i.C_ContractFinancialManagement </td>
                <td>@i.C_PassportAdvertising</td>
                <td>@i.EndDate.ToString().Substring(0, 10)</td>

            </tr>
            SurfaceCOunt = 0;
            SurfaceSumm = 0;
        }

    </table>
</div>
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year – <a href="#">OnCloud</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
</footer>



@*модальное окно*@
<div id="DeleteStructures" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Удаление конструкции</h4>
            </div>
            <div class="modal-body">
                <p>Вы уверены, что хотите удалить эту конструкцию?&hellip;</p>
            </div>
            <div class="modal-footer">
                <a href="/Data/DeleteAdvertisingDesign" class="btn btn-primary">Да, удалить</a>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
            </div>
        </div>
    </div>
</div>

