@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Newtonsoft.Json
@using Sciencecom.Models
@model  System.Data.Entity.DbSet<AdvertisingStructure>
@{
    ViewBag.Title = "Advertisign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "billboardsTable"

    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First();
    int SurfaceCOunt = 0;
    int SurfaceSumm = 0;

}


@Scripts.Render("~/bundles/jqCrid")
@Scripts.Render("~/bundles/tooltip")
<script type="text/javascript">
    var $SaveIdForHideTooltip;
    var $Tablebacklight;
    var Showonthemap=@Html.Raw(JsonConvert.SerializeObject(Model.Select(a=>a.Id_show), Formatting.Indented, new JsonSerializerSettings
    {ReferenceLoopHandling = ReferenceLoopHandling.Ignore}));

    $(document).ready(function () {

        function HideRows() {
            $('.ui-widget-content.jqgrow.ui-row-ltr').each(
                function (indx, element) {
                    $(element).hide();
                }
            );
        }
        //создание таблицы
        tableToGrid("#table", {
            height: 700,
            colNames: [
                "Собственник", "Вид конструкции",
                "Населенный пункт","Улица", "Дом/Номер_опоры", "Количество сторон", "Количестов поверхностей",
                "Площадь конструкции", "Разреш по"
            ],
            forceFit:false,

            cmTemplate:{"resizable": false,sortable:false},
            colModel: [
                { name: "Собственник", align: "center" },
                { name: "Вид_конструкции", align: "center" },
                { name: "Населенный_пункт", align: "center" },
                { name: "Улица", align: "center" },
                { name: "Дом/Номер_опоры", align: "center" },
                { name: "Количество_сторон", align: "center" },
                { name: "Количестов_поверхностей", align: "center" },
                { name: "Площадь_конструкции", align: "center" },
                { name: "Разреш_по", align: "center" }

            ]
        });

        HideRows();

        //Поиск
        $('#table').jqGrid('filterToolbar', {
        }
        );
        $(".ui-jqgrid-bdiv").append("<h1 style=\"margin-left: 700px;margin-top: 300px\">Выберите параметры поиска</h1>");

        //подсветка
        $('table tr').on("click", function () {

            if (typeof $Tablebacklight != 'undefined') {
                $Tablebacklight.css("background-color", "");
            }
            $Tablebacklight = $(this);
            $Tablebacklight.css("background", "#ADDEFF");

        });
        //спрятать убрать всплывающие окна
        $("#AddNewAD").click(function () {
            if ($('#divForAddNewAD').css("visibility") == "hidden") {
                $('#divForAddNewAD').css("visibility", "visible");
            } else {
                $('#divForAddNewAD').css("visibility", "hidden");
            }
        });
        $("#EditStatusAD").click(function () {
            if ($('#divEditStatusAD').css("visibility") == "hidden") {
                $('#divEditStatusAD').css("visibility", "visible");
            } else {
                $('#divEditStatusAD').css("visibility", "hidden");
            }
        });
        //переход через ajax на edit billbord
        $('#EditBillbord').click(function () {
            if ($Tablebacklight != "undefined") {
                var IdGuid = $Tablebacklight.children("td:last").children().text();
                $.get('@Url.Action("EditAdvertisingDesign", "Data")', { id: IdGuid }).success(function(result) {
                    $("#Page").html(result);
                }).error(function() {
                    alert("что то пошло не так");
                });
            }
        });

        //собираем данные из поиска
        function PullData() {
            var collectionMap =[];
            $(".ui-state-default .ui-th-ltr input").each(function(indx, element) {
                collectionMap.push({ id: $(element).attr("id"), value:  $(element).val().toString() });
            });

            var test = JSON.stringify(collectionMap);

            $.ajax({
                url: '@Url.Action("SaveSearch", "BackEndServices")',
                data: { collectionMap: test },
                type: 'POST',
                success: function(e) {
                    //alert(e);
                }
            });
        }
        //подсказка ,подсветка
        function FunctionaFortable() {

            $(".ui-jqgrid-bdiv>h1").remove();
            var sgrid = $("#table")[0];
            sgrid.triggerToolbar();

            $('.ui-widget-content.jqgrow.ui-row-ltr').on("click", function () {

                if (typeof $Tablebacklight != 'undefined') {
                    $Tablebacklight.css("background-color", "");
                }
                $Tablebacklight = $(this);
                $Tablebacklight.css("background", "#ADDEFF");

            });


            //поиск строк таблицы для навешивания событий
            var tr = $('tr.ui-widget-content.jqgrow.ui-row-ltr ');
            

            //выпадающее меню для всех типов строк
            tr.each(function (indx, element) {
                    //поиск ячейки в строке для считывания вида конструкции
                    var td = $(this).find('[aria-describedby="table_Вид_конструкции"]');
                    //выпадающее меню для указателей
                    if (td[0].title == "Металлический указатель") 
                    {
                        $(element).tooltipsy({
                            alignTo: 'cursor',
                            offset: [0, -85],
                            hideEvent: 'focusout',
                            content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                                '+<a href="/Map/Index/'+Showonthemap[indx]+'">Показать на карте</a></br>' +
                                '+<a href="/Data/Pointer/'+Showonthemap[indx]+'">Показать данные о конструкции</a></br>' +
                                '+<a href="/Data/EditMetalPointerDesign/'+Showonthemap[indx]+'">Изменить данные о конструкции</a></br>' +
                                '+<a  href="#DeleteStructures"  role="button" data-toggle="modal">Удалить конструкцию</a></br>' +
                                '</button>',
                            show: function (e, $el) {
                                //console.log($el);
                                $el.show(100);
                            },
                            hide: function (e, $el) {

                            },
                            delay: 200,
                            className: 'tooltipsy',
                            css: {}
                        });
                    }
                    //выпадающее меню для щитов
                    if (td[0].title == "Щит") 
                    {
                        $(element).tooltipsy({
                                    alignTo: 'cursor',
                                    offset: [0, -85],
                                    hideEvent: 'focusout',
                                    content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                                        '+<a href="/Map/Index/'+Showonthemap[indx]+'">Показать на карте</a></br>' +
                                        '+<a href="/Data/Documents/'+Showonthemap[indx]+'">Показать данные о конструкции</a></br>' +
                                        '+<a href="/Data/EditAdvertisingDesign/'+Showonthemap[indx]+'">Изменить данные о конструкции</a></br>' +
                                        '+<a  href="#DeleteStructures"  role="button" data-toggle="modal">Удалить конструкцию</a></br>' +
                                        '</button>',
                                    show: function (e, $el) {
                                        console.log($el);
                                        $el.show(100);
                                    },
                                    hide: function (e, $el) {

                                    },
                                    delay: 200,
                                    className: 'tooltipsy',
                                    css: {}
                                });
                    }
            }
            );
        }


        function SetDate() {
            var collectionMap =JSON.parse('@(Html.Raw(Session["collectionMap"]))') ;

            if(collectionMap!="[]"){
                $(".ui-state-default .ui-th-ltr input").each(function(indx, element) {
                    $(element).val(collectionMap[indx].value);

                });
                FunctionaFortable();
            }
        }

        $("#search").click(function () {
            HideRows();
            PullData();
            FunctionaFortable();
        });
        window.onload = SetDate();

        //Повторный вызов функции для навештивания событий по двойному клику на строки таблицы после очистки поля поиска
        $(".clearsearchclass").switchClass("clearsearchclass", "clrsrchcls");
        $(".clrsrchcls").click(function() {
            //console.log("!!!1111");
            //ClearSearch();
            FunctionaFortable();
        });

        //Повторный вызов функции для навештивания событий по нажатию энтер в строке поиска
        $('.ui-widget-content.ui-corner-all').keypress(function(event) {
            if (event.keyCode == 13) {
                // alert('Entered');
                FunctionaFortable();
            }
        });

    });

    $("html").dblclick(function (e) {
        //накручивание индекса к пути удалить
        $('[href="/Data/DeleteAdvertisingDesign"]').
         attr("href","/Data/DeleteAdvertisingDesign/"+(Showonthemap[($(e.target).closest("tr").attr("id")-1)])+"") ;

        if (document.activeElement.getAttribute("class") != "HideClass") {
            $SaveIdForHideTooltip = document.activeElement.getAttribute("id")-1;
        }
    });

    $("html").click(function () {
        var info = document.activeElement;

        if (info.getAttribute("class") != "HideClass") {
            $('[hide=' + $SaveIdForHideTooltip + ']').parent().parent().hide();

        };
    });
</script>
@*чтобы jqgtid разбивал на несколько строк*@
<style type="text/css" media="screen">
    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
    }
</style>
<div id="Page">

    <h2>Таблица конструкций</h2>
    <div class="zoom">
        @{
            if (role != "ReadOnly")
            {
                <p>
                    <!-- Trigger the modal with a button -->
                    <b><input type="button" value="+ Добавить новую конструкцию" id="AddConstruction" class="btn btn-default" data-toggle="modal" data-target="#myModal"></b>
                    <b> <input type="button" value="Поиск" id="search" class="btn btn-default"></b>
                </p>
            }
        }

        <table id="table" class="table-bordered" cellpadding="5" style="width: 100%">
            <tr>

                <th>Собственник</th>
                <th>Вид_конструкции</th>
                <th>Населенный_пункт</th>
                <th>Улица</th>
                <th>Дом/Номер_опоры</th>
                <th> Количество_сторон</th>
                <th> Количестов_поверхностей</th>
                <th>Площадь_конструкции</th>
                <th>Разреш_по</th>

            </tr>
            @foreach (var i in Model)
            {
                foreach (var side in i.Sides)
                {
                    SurfaceCOunt += side.Surfaces.Count;
                    foreach (var Surface in side.Surfaces)
                    {
                        SurfaceSumm += Surface.Space;
                    }

                }
                <tr title="test">


                    <td>@if (i.Owner != null)
                        {
                            @i.Owner.Name
                        } </td>
                    <td>@i.TypeOfAdvertisingStructure.Name</td>
                    <td>@i.Locality.NameLocality</td>
                    <td>@i.Street1</td>
                    <td>
                        @{
                            if (i.TypeOfAdvertisingStructure.ToString() == "Металлический указатель")
                            {
                                @i.Support_;
                            }
                            else
                            {
                                @i.House1;
                            }
                        }
                    </td>
                    <td>@i.Sides.Count</td>
                    <td>@SurfaceCOunt</td>
                    <td>@SurfaceSumm</td>

                    <td>@if (i.EndDate != null)
                        {
                            @i.EndDate.ToString().Substring(0, 10)
                        }
                    </td>

                </tr>
                SurfaceCOunt = 0;
                SurfaceSumm = 0;
            }

        </table>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Выберите тип конструкции</h4>
            </div>
            <div class="modal-body" style="text-align:center;">
                @Html.ActionLink("Щит", "CreateAdvertisingDesign", new { type = "Billboard" }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;"})
                <br/>
                @Html.ActionLink("Металлический указатель", "CreateMetalPointerDesign", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Световой короб", "CreateLightDuctDesign", new { }, new { @class = "btn btn-default", style = "width : 196px" })
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
<hr />
<footer>
    <p>&copy; @DateTime.Now.Year – <a href="#">OnCloud</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
</footer>

@{ Html.RenderPartial("~/Views/Shared/PatialView/Modals.cshtml");}


