@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Newtonsoft.Json
@using Sciencecom.Models
@model  System.Data.Entity.DbSet<AdvertisingStructure>
@{
    ViewBag.Title = "Advertisign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "billboardsTable"
    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First();
}


@Scripts.Render("~/bundles/jqCrid")
@Scripts.Render("~/bundles/tooltip")
<script type="text/javascript">
    var $SaveIdForHideTooltip;
    var $Tablebacklight;
    var firstReauquest = true;
    $(document).ready(function ()
    {
        //функция для добавления новых параметров поиска и обновления таблицы
        $("#searchStartDateRange").click(function ()
        {
            var gridPostData;
            gridPostData = $("#table").getGridParam("postData");
            gridPostData["НачалоРазреш_с"] = $("#beginingStartDateRange").val();
            gridPostData["КонецРазреш_с"] = $("#endingStartDateRange").val();
            $('#table').jqGrid('setGridParam', { postData: gridPostData });
            jQuery("#table")[0].triggerToolbar();
            //if ($("#beginingStartDateRange").val() != "" && $("#endingStartDateRange").val()!="")
            //{
            //    gridPostData = $("#table").getGridParam("postData");
            //    gridPostData["НачалоРазреш_с"] = $("#beginingStartDateRange").val();
            //    gridPostData["КонецРазреш_с"] = $("#endingStartDateRange").val();
            //    //console.log(gridPostData);
            //    $('#table').jqGrid('setGridParam', { postData: gridPostData });
            //    //$('#table').trigger('reloadGrid');
            //    //PullData();
            //    jQuery("#table")[0].triggerToolbar();
            //}
            //if ($("#beginingStartDateRange").val() == "" && $("#endingStartDateRange").val()!="")
            //{
            //    gridPostData = $("#table").getGridParam("postData");
            //    gridPostData["НачалоРазреш_с"] = "";
            //    gridPostData["КонецРазреш_с"] = $("#endingStartDateRange").val();
            //    //console.log(gridPostData);
            //    $('#table').jqGrid('setGridParam', { postData: gridPostData });
            //    //$('#table').trigger('reloadGrid');
            //    //PullData();
            //    jQuery("#table")[0].triggerToolbar();
            //}
            //if ($("#beginingStartDateRange").val() != "" && $("#endingStartDateRange").val()!="")
            //{
            //    gridPostData = $("#table").getGridParam("postData");
            //    gridPostData["НачалоРазреш_с"] = $("#beginingStartDateRange").val();
            //    gridPostData["КонецРазреш_с"] = $("#endingStartDateRange").val();
            //    //console.log(gridPostData);
            //    $('#table').jqGrid('setGridParam', { postData: gridPostData });
            //    //$('#table').trigger('reloadGrid');
            //    //PullData();
            //    jQuery("#table")[0].triggerToolbar();
            //}
            //else
            //{
            //    gridPostData = $("#table").getGridParam("postData");
            //    gridPostData["НачалоРазреш_с"] = null;
            //    gridPostData["КонецРазреш_с"] = null;
            //    $('#table').jqGrid('setGridParam', { postData: gridPostData });
            //    //$('#table').trigger('reloadGrid');
            //    jQuery("#table")[0].triggerToolbar();
            //}
           
            //$("#beginingStartDateRange").val()

        });
         $("#searchEndDateRange").click(function ()
        {
            var gridPostData;
            gridPostData = $("#table").getGridParam("postData");
            gridPostData["НачалоРазреш_по"] = $("#beginingEndDateRange").val();
            gridPostData["КонецРазреш_по"] = $("#endingEndDateRange").val();
            //console.log(gridPostData);
            $('#table').jqGrid('setGridParam', { postData: gridPostData });
            $('#table').trigger('reloadGrid');


            //if ($("#startingEndDateRange").val() != "" && $("#endingEndDateRange").val())
            //{

            //    gridPostData = $("#table").getGridParam("postData");
            //    gridPostData["НачалоРазреш_по"] = $("#beginingEndDateRange").val();
            //    gridPostData["КонецРазреш_по"] = $("#endingEndDateRange").val();
            //    //console.log(gridPostData);
            //    $('#table').jqGrid('setGridParam', { postData: gridPostData });
            //    $('#table').trigger('reloadGrid');
            //}
            //else
            //{
            //    gridPostData = $("#table").getGridParam("postData");
            //    gridPostData["НачалоРазреш_по"] = null;
            //    gridPostData["КонецРазреш_по"] = null;

            //    $('#table').jqGrid('setGridParam', { postData: gridPostData });
            //    $('#table').trigger('reloadGrid');
            //}
            ////$("#beginingStartDateRange").val()

        });

        //функция для скрывания открытых всплывающих окон
        $(document).dblclick(function (e)
        {
            if (document.activeElement.getAttribute("class") != "HideClass")
            {
                var ssd = $(".HideClass");
                if (ssd.length > 0)
                {
                    $('div[id^="tooltipsy"]').hide();
                }
            }
        });

        //
        $("#table").bind('DOMNodeInserted DOMNodeRemoved', function ()
        {
            fillDataForFunctionFT();
        });

        function HideRows()
        {
            $('table[id="table"] > tbody > tr').hide();
        }

        //создание таблицы
        tableToGrid("#table", {
            url: '@Url.Action("SearchAdvertisingDesign", "Data")',
            datatype: "json",
            rowList: [10, 20, 30],
            //loadonce: true,
            gridview: true,
            autoencode: true,
            pager: '#jpager',
            jsonReader: {
                root: "Data",
                page: "page",
                total: "Total",
                records: "Records",
                repeatitems: true,
                id: "id"
            },
            height: "100%",
            colNames: [
                "Собственник",
                "Вид конструкции",
                "Населенный пункт",
                "Улица",
                "Дом/Номер_опоры",
                "Количество сторон",
                "Количестов поверхностей",
                "Площадь конструкции",
                "Разреш с",
                "Разреш по"
            ],
            forceFit: false,
            cmTemplate: { "resizable": false, sortable: false },
            colModel: [
                { name: "Собственник", align: "center" },
                { name: "Вид_конструкции", align: "center" },
                { name: "Населенный_пункт", align: "center" },
                { name: "Улица", align: "center" },
                { name: "Дом_Номер_опоры", align: "center" },
                { name: "Количество_сторон", align: "center" },
                { name: "Количестов_поверхностей", align: "center" },
                { name: "Площадь_конструкции", align: "center"  },
                { name: "Разреш_с", align: "center", searchoptions:{dataInit:function(el){$(el).datepicker({dateFormat:'yy/mm/dd'})} }},
                { name: "Разреш_по", align: "center" , searchoptions:{dataInit:function(el){$(el).datepicker({dateFormat:'yy/mm/dd'})} } }

            ],
            onSearch: function ()
            {
                $(this).setGridParam({ datatype: 'json' });
                return true;
            },
            onReset: function ()
            {
                $(this).setGridParam({ datatype: 'json' });
                return true;
            },
            beforeRequest: function ()
            {
                if (firstReauquest)
                {
                    SetDate();
                    firstReauquest = false;

                }
                PullData();
            }

        });


        //Добавление строки с полями для поиска в таблице конструкций
        $('#table').jqGrid('filterToolbar',
            {
                searchOnEnter: false,
                beforeClear: function () { return true; },
                //beforeSearch:  function(){PullData();},
                afterSearch: function ()
                {

                }
            });
        //$(".ui-jqgrid-bdiv").append("<h1 style=\"margin-left: 700px;margin-top: 300px\">Выберите параметры поиска</h1>");

        //подсветка
        $('table tr').on("click", function ()
        {
            if (typeof $Tablebacklight != 'undefined')
            {
                $Tablebacklight.css("background-color", "");
            }
            $Tablebacklight = $(this);
            $Tablebacklight.css("background", "#ADDEFF");
        });
        //спрятать всплывающие окна
        $("#AddNewAD").click(function ()
        {
            if ($('#divForAddNewAD').css("visibility") == "hidden")
            {
                $('#divForAddNewAD').css("visibility", "visible");
            } else
            {
                $('#divForAddNewAD').css("visibility", "hidden");
            }
        });
        $("#EditStatusAD").click(function ()
        {
            if ($('#divEditStatusAD').css("visibility") == "hidden")
            {
                $('#divEditStatusAD').css("visibility", "visible");
            } else
            {
                $('#divEditStatusAD').css("visibility", "hidden");
            }
        });
        //переход через ajax на edit billbord
        $('#EditBillbord').click(function ()
        {
            if ($Tablebacklight != "undefined")
            {
                var IdGuid = $Tablebacklight.children("td:last").children().text();
                $.get('@Url.Action("EditAdvertisingDesign", "Data")', { id: IdGuid }).success(function (result)
                {
                    $("#Page").html(result);
                }).error(function ()
                {
                    alert("что то пошло не так");
                });
            }
        });

        //сбор данные из поиска для передачи на сервер записи в сессию
        function PullData()
        {
            console.log($("#table").getGridParam("postData"));
            var collectionMap = {};
            collectionMap.postdata = $("#table").getGridParam("postData");

            var test = JSON.stringify(collectionMap);

            $.ajax({
                url: '@Url.Action("SaveSearch", "BackEndServices")',
                data: { collectionMap: test },
                type: 'POST',
                success: function (e)
                {
                    //alert(e);
                }
            });
        }

        //навешивание на строки окошек, подсветки
        function FunctionalFortable(tr, td1)
        {
            $(".ui-jqgrid-bdiv>h1").remove();
            //var sgrid = $("#table")[0];
            //sgrid.triggerToolbar();

            $('.ui-widget-content.jqgrow.ui-row-ltr').on("click", function ()
            {
                if (typeof $Tablebacklight != 'undefined')
                {
                    $Tablebacklight.css("background-color", "");
                }
                $Tablebacklight = $(this);
                $Tablebacklight.css("background", "#ADDEFF");
            });


            //выпадающее меню для всех типов строк
            tr.each(function (indx, element)
            {
                //поиск ячейки в строке для считывания вида конструкции
                var td = $(this).find('[aria-describedby="table_Вид_конструкции"]');
                //выпадающее меню для указателей
                if (td[0].title == "Металлический указатель")
                {
                    $(element).tooltipsy({
                        alignTo: 'cursor',
                        offset: [0, -85],
                        hideEvent: 'focusout',
                        content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                            '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                            '+<a href="/Data/Pointer/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                            '+<a href="/Data/EditMetalPointerDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                            '+<a  href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                            '</button>',
                        show: function (e, $el)
                        {
                            $el.show(100);
                        },
                        hide: function (e, $el)
                        {
                        },
                        delay: 200,
                        className: 'tooltipsy',
                        css: {}
                    });
                }
                //выпадающее меню для щитов
                if (td[0].title == "Щит")
                {
                    //console.log(tr[indx].id-1);

                    $(element).tooltipsy({
                        alignTo: 'cursor',
                        offset: [0, -85],
                        hideEvent: 'focusout',
                        content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                            '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                            '+<a href="/Data/Documents/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                            '+<a href="/Data/EditAdvertisingDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                            '+<a href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                            '</button>',
                        show: function (e, $el)
                        {
                            $el.show(100);
                        },
                        hide: function (e, $el)
                        {
                        },
                        delay: 200,
                        className: 'tooltipsy',
                        css: {}
                    });
                }
                //выпадающее меню для световых коробов
                if (td[0].title == "Световой короб")
                {
                    $(element).tooltipsy({
                        alignTo: 'cursor',
                        offset: [0, -85],
                        hideEvent: 'focusout',
                        content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                            '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                            '+<a href="/Data/LightDuct/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                            '+<a href="/Data/EditLightDuctDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                            '+<a  href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                            '</button>',
                        show: function (e, $el)
                        {
                            $el.show(100);
                        },
                        hide: function (e, $el)
                        {
                        },
                        delay: 200,
                        className: 'tooltipsy',
                        css: {}
                    });
                }
                //выпадающее меню для неопознанных конструкций
                if (td[0].title == "Неопознанная конструкция")
                {
                    $(element).tooltipsy({
                        alignTo: 'cursor',
                        offset: [0, -85],
                        hideEvent: 'focusout',
                        content: '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                            '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                            '+<a href="/Data/Illegal/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                            '+<a href="/Data/EditIllegalDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                            '+<a  href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                            '</button>',
                        show: function (e, $el)
                        {
                            $el.show(100);
                        },
                        hide: function (e, $el)
                        {
                        },
                        delay: 200,
                        className: 'tooltipsy',
                        css: {}
                    });
                }
            }
            );
        }

        //извлечение данных из сессии для записи в отправляемые таблицей запросы и заполнения шапки таблицы
        function SetDate()
        {
            var collectionMap;
            if ('@(Html.Raw(Session["collectionMap"]))' != '[]' && '@(Html.Raw(Session["collectionMap"]))' != '')
            {
                collectionMap = JSON.parse('@(Html.Raw(Session["collectionMap"]))');
            }

            if (collectionMap != "[]" && collectionMap != '' && collectionMap != undefined)
            {
                $('#table').jqGrid('setGridParam', { postData: collectionMap.postdata });

                if (collectionMap.postdata.Собственник !== undefined)
                {
                    $("input[id$='Собственник']").val(collectionMap.postdata.Собственник);
                }
                if (collectionMap.postdata.Вид_конструкции !== undefined)
                {
                    $("input[id$='Вид_конструкции']").val(collectionMap.postdata.Вид_конструкции);
                }
                if (collectionMap.postdata.Населенный_пункт !== undefined)
                {
                    $("input[id$='Населенный_пункт']").val(collectionMap.postdata.Населенный_пункт);
                }
                if (collectionMap.postdata.Улица !== undefined)
                {
                    $("input[id$='Улица']").val(collectionMap.postdata.Улица);
                }
                if (collectionMap.postdata.Дом_Номер_опоры !== undefined)
                {
                    $("input[id$='Дом_Номер_опоры']").val(collectionMap.postdata.Дом_Номер_опоры);
                }
                if (collectionMap.postdata.Количество_сторон !== undefined)
                {
                    $("input[id$='Количество_сторон']").val(collectionMap.postdata.Количество_сторон);
                }
                if (collectionMap.postdata.Количестов_поверхностей !== undefined)
                {
                    $("input[id$='Количестов_поверхностей']").val(collectionMap.postdata.Количестов_поверхностей);
                }
                if (collectionMap.postdata.Площадь_конструкции !== undefined)
                {
                    $("input[id$='Площадь_конструкции']").val(collectionMap.postdata.Площадь_конструкции);
                }
                if (collectionMap.postdata.Разреш_по !== undefined)
                {
                    $("input[id$='Разреш_по']").val(collectionMap.postdata.Разреш_по);
                }
                if (collectionMap.postdata.НачалоРазреш_по !== undefined)
                {
                    $("#beginingEndDateRange").val(collectionMap.postdata.НачалоРазреш_по);
                }
                if (collectionMap.postdata.КонецРазреш_по !== undefined)
                {
                    $("#endingEndDateRange").val(collectionMap.postdata.КонецРазреш_по);
                }
                if (collectionMap.postdata.НачалоРазреш_с !== undefined)
                {
                    $("#beginingStartDateRange").val(collectionMap.postdata.НачалоРазреш_с);
                }
                if (collectionMap.postdata.КонецРазреш_с !== undefined)
                {
                    $("#endingStartDateRange").val(collectionMap.postdata.КонецРазреш_с);
                }
                fillDataForFunctionFT();
            }
        }

        $("#search").click(function ()
        {
            PullData();
            jQuery("#table")[0].triggerToolbar();
            fillDataForFunctionFT();
        });

        window.onload = SetDate();

        //Повторный вызов функции для навештивания событий по двойному клику на строки таблицы после очистки поля поиска
        $(".clearsearchclass").switchClass("clearsearchclass", "clrsrchcls");
        $(".clrsrchcls").click(function ()
        {
            fillDataForFunctionFT();
        });

        //Повторный вызов функции для навештивания событий по нажатию энтер в строке поиска
        $('.ui-widget-content.ui-corner-all').keypress(function (event)
        {
            if (event.keyCode == 13)
            {
                fillDataForFunctionFT();
            }
        });
        function fillDataForFunctionFT()
        {
            var tr = $('#table  tr.ui-widget-content.jqgrow.ui-row-ltr:last ');

            if (tr.length > 0)
            {
                var sel = '#table  tr.ui-widget-content.jqgrow.ui-row-ltr[id="' + tr[0].id + '"] > td';
                var tds = $(sel);

                FunctionalFortable(tr, tds[0]);
            }
        }
    });

</script>
@*чтобы jqgtid разбивал на несколько строк*@
<style type="text/css" media="screen">
    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
    }
</style>
<div id="Page">

    <h2>Таблица конструкций</h2>
    <div class="zoom">
        <div class="row">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <label>Временной интервал выдачи разрешения</label>
                </div>
                <div class="col-md-4">
                    <label>Временной интервал окончания разрешения</label>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 21px">
                @{
                    if (role != "ReadOnly")
                    {
                        <p>
                            <!-- Trigger the modal with a button -->
                            <b><input type="button" value="+ Добавить новую конструкцию" id="AddConstruction" class="btn btn-default" data-toggle="modal" data-target="#myModal"></b>
                            <b> <input type="button" value="Поиск" id="search" class="btn btn-default"></b>
                        </p>
                    }
                }
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Начало </label>
                        <br />
                        <input type="date" class="form-control input-sm" id="beginingStartDateRange" />
                    </div>
                    <div class="form-group">
                        <label>Конец</label>
                        <br />
                        <input type="date" class="form-control input-sm" id="endingStartDateRange" />
                    </div>
                    <div style="position: relative"></div>
                    <input type="button" value="Поиск" id="searchStartDateRange" style="position: absolute; right: 10px; bottom: 0;" class=" btn btn-default input-sm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Начало</label>
                        <br />
                        <input type="date" class="form-control input-sm" id="beginingEndDateRange" />
                    </div>
                    <div class="form-group">
                        <label>Конец</label>
                        <br />
                        <input type="date" class="form-control input-sm" id="endingEndDateRange" />
                    </div>
                    <div style="position: relative"></div>
                    <input type="button" value="Поиск" id="searchEndDateRange" style="position: absolute; right: 10px; bottom: 0;" class=" btn btn-default input-sm" />
                </div>
            </div>
        </div>


        <table id="table" class="table-bordered" cellpadding="5" style="width: 100%">
            @*<tr>
                    <th>Собственник</th>
                    <th>Вид_конструкции</th>
                    <th>Населенный_пункт</th>
                    <th>Улица</th>
                    <th>Дом/Номер_опоры</th>
                    <th>Количество_сторон</th>
                    <th>Количестов_поверхностей</th>
                    <th>Площадь_конструкции</th>
                    <th>Разреш_с</th>
                    <th>Разреш_по</th>
                </tr>*@

        </table>
        <div id="jpager"></div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Выберите тип конструкции</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                @Html.ActionLink("Щит", "CreateAdvertisingDesign", new { type = "Billboard" }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Металлический указатель", "CreateMetalPointerDesign", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Световой короб", "CreateLightDuctDesign", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Неопознанная конструкция", "CreateIllegalDesign", new { }, new { @class = "btn btn-default", style = "width : 196px" })
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
<hr />
<footer>
    <p>
        &copy; @DateTime.Now.Year – <a href="#">OnCloud</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@
    </p>
</footer>

@{ Html.RenderPartial("~/Views/Shared/PatialView/Modals.cshtml");}


