@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Newtonsoft.Json
@using Sciencecom.Models
@model  System.Data.Entity.DbSet<AdvertisingStructure>
@{
    ViewBag.Title = "Advertisign";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "billboardsTable"
    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First();
}


@Scripts.Render("~/bundles/jqCrid")
@Scripts.Render("~/bundles/tooltip")
<script type="text/javascript">
    var $SaveIdForHideTooltip;
    var $Tablebacklight;
    var firstReauquest = true;
    var firstCompleted = true;

    //Функция для редактирования поверхностей прямо из таблицы
    function editSurface(surfaceId)
    {
        $.ajax('@Url.Action("EditSurface", "BackEndServices")', { async: true, data: { surfaceId: surfaceId } })
        .success(function (e)
        {
            $("#EditSurfaceModalBody").html(e);
        }).error(function (e)
        {
            alert("ошибка запроса");
        });
        $('#EditSurfaceModal').modal('show');
    }



    $(document).ready(function ()
    {

        //функция для добавления новых параметров поиска и обновления таблицы
        $("#searchStartDateRange").click(function ()
        {
            var gridPostData;
            gridPostData = $("#table").getGridParam("postData");
            gridPostData["НачалоРазреш_с"] = $("#НачалоРазреш_с").val();
            gridPostData["КонецРазреш_с"] = $("#КонецРазреш_с").val();
            $('#table').jqGrid('setGridParam', { postData: gridPostData });
            jQuery("#table")[0].triggerToolbar();

        });
        $("#searchEndDateRange").click(function ()
        {
            var gridPostData;
            gridPostData = $("#table").getGridParam("postData");
            gridPostData["НачалоРазреш_по"] = $("#НачалоРазреш_по").val();
            gridPostData["КонецРазреш_по"] = $("#КонецРазреш_по").val();
            $('#table').jqGrid('setGridParam', { postData: gridPostData });
            $('#table').trigger('reloadGrid');
        });

        //функция для скрывания открытых всплывающих окон
        $(document).dblclick(function (e)
        {
            if (document.activeElement.getAttribute("class") != "HideClass")
            {
                var ssd = $(".HideClass");
                if (ssd.length > 0)
                {
                    $('div[id^="tooltipsy"]').hide();
                }
            }
        });

        //Замена строчного инпута на кнопку в фильтертулбаре
        function SwitchTextInputToButton()
        {
            var content = '<button class="btn btn-default" type="button" id="searchSurfaces"><span id="searcSpan" class="glyphicon glyphicon-search "></span></button>';
            var container = $("#gs_Статус_поверхности").parent();
            //удаление tr с кнопкой очистки поиска
            $(container).parent().find(".ui-search-clear").remove();
            //удаление инпута для поиска
            $("#gs_Статус_поверхности").remove();
            container.attr("id", "search_list");
            container.attr("class", "ui-pg-button ui-corner-all");
            $(container).append(content);
            var button = $("#searchSurfaces");
            $(button).click(function ()
            {
                var tablePostData;
                tablePostData = $("#table").getGridParam("postData");

                if ($(button).hasClass("active"))
                {
                    tablePostData["Искать_поверхности"] = false;
                }
                else
                {
                    tablePostData["Искать_поверхности"] = true;
                }

                $('#table').jqGrid('setGridParam', { postData: tablePostData });
                $(button).toggleClass("active");
                jQuery("#table")[0].triggerToolbar();
            });
        }



        $("#table").bind('DOMNodeInserted DOMNodeRemoved', function ()
        {
            fillDataForFunctionFT();
        });

        function HideRows()
        {
            $('table[id="table"] > tbody > tr').hide();
        }

        var selectOp = "";
        function getSequenceNumbers()
        {
            selectOp += "'1': 'Option 1;'";
            console.log(selectOp);
        }

        //Функция для таблицы, выдаёт атрибуты для скрывания/объединения ячеек соседних строк,
        //если они относятся к одной конструкции
        var arrtSetting = function (rowId, val, rawObject, cm)
        {
            var attr;
            var result = "";

            for (var i = 0; i < rawObject.attr.length; i++)
            {
                if (rawObject.attr[i].Key == cm.name)
                {
                    attr = rawObject.attr[i].Value;
                }
            }

            if (attr != undefined && attr[0].Key === "rowspan")
            {
                result = ' rowspan=' + '"' + attr[0].Value + '"';
            }
            else if (attr != undefined && attr[0].Key === "display")
            {
                result = ' style="display:' + attr[0].Value + '"';
            }

            return result;
        };

        //создание таблицы
        tableToGrid("#table", {
            url: '@Url.Action("SearchAdvertisingDesign", "Data")',
            datatype: "json",
            rowList: [20],
            gridview: true,
            // autoencode: true,
            cellEdit: false,
            cellsubmit: 'clientArray',
            pager: '#jpager',
            jsonReader: {
                root: "Data",
                page: "page",
                total: "Total",
                records: "Records",
                repeatitems: true,
                id: "id"
            },
            height: "100%",
            colNames: [
                "Собственник",
                "Вид конструкции",
                "Площадь поверхности",
                "Номер поверхности",
                "Цена",
                "Статус поверхности",
                "Населенный пункт",
                "Улица",
                "Со стороны",
                "Ближайшая по ходу",
                "Дом",
                "Номер опоры",
                "Разреш с",
                "Разреш по",
                "Кол-во пов.",
                "Кол-во сторон",
                "Площадь",
                "Теги"
            ],
            forceFit: false,
            cmTemplate: { "resizable": false, sortable: false },
            colModel: [
                { name: "Собственник", align: "center", editable: false, cellattr: arrtSetting },
                { name: "Вид_конструкции", align: "center", editable: false, cellattr: arrtSetting },
                { name: "Площадь_поверхности", align: "center", editable: false },
                { name: "Номер_поверхностин", align: "center", editable: false },
                { name: "Цена_поверхности", align: "center", editable: false },
                { name: "Статус_поверхности", align: "center", editable: false },
                { name: "Населенный_пункт", align: "center", editable: false, cellattr: arrtSetting },
                { name: "Улица", align: "center", editable: false },
                { name: "Со_стороны", align: "center", editable: false },
                { name: "Ближайшая_по_ходу", align: "center", editable: false },
                { name: "Дом", align: "center", editable: false },
                { name: "Номер_опоры", align: "center", editable: false },
                { name: "Разреш_с", align: "center", editable: false, searchoptions: { dataInit: function (el) { $(el).datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true }).change(function () { $("#table")[0].triggerToolbar(); }); } } },
                { name: "Разреш_по", align: "center", editable: false, searchoptions: { dataInit: function (el) { $(el).datepicker({ dateFormat: 'yy/mm/dd', changeMonth: true, changeYear: true }).change(function () { $("#table")[0].triggerToolbar(); }); } } },
                { name: "Количество_поверхностей", align: "center", editable: false, cellattr: arrtSetting },
                { name: "Количество_сторон", align: "center", editable: false, cellattr: arrtSetting },
                { name: "Площадь_конструкции", align: "center", editable: false, cellattr: arrtSetting },
                { name: "Теги", align: "center", editable: false, cellattr: arrtSetting }
            ],
            onSearch: function ()
            {

                $(this).setGridParam({ datatype: 'json' });
                return true;
            },
            onReset: function ()
            {
                $(this).setGridParam({ datatype: 'json' });
                return true;
            },
            beforeRequest: function ()
            {
                if (firstReauquest)
                {
                    LoadData();
                    firstReauquest = false;
                }
                SaveData();
            },
            gridComplete: function ()
            {

            }

        });

        //Добавление строки с полями для поиска в таблице конструкций
        $('#table').jqGrid('filterToolbar',
            {
                searchOnEnter: false,
                beforeClear: function () { return true; },
                //beforeSearch:  function(){SaveData();},
                afterSearch: function ()
                {

                }
            });

        SwitchTextInputToButton();


        //подсветка
        $('table tr').on("click", function ()
        {
            if (typeof $Tablebacklight != 'undefined')
            {
                $Tablebacklight.css("background-color", "");
            }
            $Tablebacklight = $(this);
            $Tablebacklight.css("background", "#ADDEFF");
        });
        //спрятать всплывающие окна
        $("#AddNewAD").click(function ()
        {
            if ($('#divForAddNewAD').css("visibility") == "hidden")
            {
                $('#divForAddNewAD').css("visibility", "visible");
            } else
            {
                $('#divForAddNewAD').css("visibility", "hidden");
            }
        });
        $("#EditStatusAD").click(function ()
        {
            if ($('#divEditStatusAD').css("visibility") == "hidden")
            {
                $('#divEditStatusAD').css("visibility", "visible");
            } else
            {
                $('#divEditStatusAD').css("visibility", "hidden");
            }
        });

        //сбор данных из панели поиска для передачи на сервер и записи в сессию
        function SaveData()
        {
            var collectionMap = {};
            collectionMap.postdata = $("#table").getGridParam("postData");

            var test = JSON.stringify(collectionMap);

            $.ajax({
                url: '@Url.Action("SaveSearch", "BackEndServices")',
                data: { collectionMap: test },
                type: 'POST',
                success: function (e)
                {
                    //alert(e);
                }
            });
        }

        //навешивание на строки таблицы всплывающий по двойному клику на строки окошек, подсветки
        function FunctionalFortable(tr, td1)
        {
            $(".ui-jqgrid-bdiv>h1").remove();
            //var sgrid = $("#table")[0];
            //sgrid.triggerToolbar();

            $('.ui-widget-content.jqgrow.ui-row-ltr').on("click", function ()
            {
                if (typeof $Tablebacklight != 'undefined')
                {
                    $Tablebacklight.css("background-color", "");
                }
                $Tablebacklight = $(this);
                $Tablebacklight.css("background", "#ADDEFF");
            });


            //выпадающее меню для всех типов строк
            tr.each(function (indx, element)
            {
                //поиск ячейки в строке для считывания вида конструкции
                var td = $(this).find('[aria-describedby="table_Вид_конструкции"]');
                var content = "";
                //выпадающее меню для указателей
                if (td[0].title == "Металлический указатель")
                {
                    content = '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                         '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                         '+<a href="/Data/Pointer/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                         '+<a href="/Data/EditMetalPointerDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                         '+<a  href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                         '</button>';
                }
                //выпадающее меню для щитов
                if (td[0].title == "Щит")
                {
                    content = '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                        '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                        '+<a href="/Data/Documents/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                        '+<a href="/Data/EditAdvertisingDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                        '+<a href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                        '</button>';
                }
                //выпадающее меню для световых коробов
                if (td[0].title == "Световой короб")
                {
                    content = '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                         '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                         '+<a href="/Data/LightDuct/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                         '+<a href="/Data/EditLightDuctDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                         '+<a  href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                         '</button>';
                }
                //выпадающее меню для неопознанных конструкций
                if (td[0].title == "Неопознанная конструкция")
                {
                    content = '<button class="HideClass" hide=' + indx + ' style="padding: 5px;text-align: left;font-size: 11px;font-weight: bold">' +
                        '+<a href="/Map/Index/' + $(element)[0].id + '">Показать на карте</a></br>' +
                        '+<a href="/Data/Illegal/' + $(element)[0].id + '">Показать данные о конструкции</a></br>' +
                        '+<a href="/Data/EditIllegalDesign/' + $(element)[0].id + '">Изменить данные о конструкции</a></br>' +
                        '+<a  href="/Data/DeleteAdvertisingDesign/' + $(element)[0].id + '">Удалить конструкцию</a></br>' +
                        '</button>';
                }
                $(element).tooltipsy({
                    alignTo: 'cursor',
                    offset: [0, -85],
                    hideEvent: 'focusout',
                    content: content,
                    show: function (e, $el)
                    {
                        $el.show(100);
                    },
                    hide: function (e, $el)
                    {
                    },
                    delay: 200,
                    className: 'tooltipsy',
                    css: {}
                });
            }
            );
        }

        //извлечение данных из сессии для записи в отправляемые таблицей запросы и заполнения шапки таблицы
        function LoadData()
        {
            var collectionMap;
            if ('@(Html.Raw(Session["collectionMap"]))' != '[]' && '@(Html.Raw(Session["collectionMap"]))' != '')
            {
                collectionMap = JSON.parse('@(Html.Raw(Session["collectionMap"]))');
            }

            if (collectionMap != "[]" && collectionMap != '' && collectionMap != undefined)
            {

                $('#table').jqGrid('setGridParam', { postData: collectionMap.postdata });
                for (var prop in collectionMap.postdata)
                {
                    $("input[id$='" + prop + "']").val(collectionMap.postdata[prop]);
                }
                fillDataForFunctionFT();
            }
        }

        $("#search").click(function ()
        {
            SaveData();
            jQuery("#table")[0].triggerToolbar();
            fillDataForFunctionFT();
        });

        window.onload = LoadData();

        //Повторный вызов функции для навештивания событий по двойному клику на строки таблицы после очистки поля поиска
        $(".clearsearchclass").switchClass("clearsearchclass", "clrsrchcls");
        $(".clrsrchcls").click(function ()
        {
            fillDataForFunctionFT();
        });

        //Повторный вызов функции для навештивания событий по нажатию энтер в строке поиска
        $('.ui-widget-content.ui-corner-all').keypress(function (event)
        {
            if (event.keyCode == 13)
            {
                fillDataForFunctionFT();
            }
        });
        function fillDataForFunctionFT()
        {
            var tr = $('#table  tr.ui-widget-content.jqgrow.ui-row-ltr:last ');

            if (tr.length > 0)
            {
                var sel = '#table  tr.ui-widget-content.jqgrow.ui-row-ltr[id="' + tr[0].id + '"] > td';
                var tds = $(sel);

                FunctionalFortable(tr, tds[0]);
            }
        }

    });

</script>
@*чтобы jqgtid разбивал на несколько строк*@
<style type="text/css" media="screen">
    th.ui-th-column div {
        white-space: normal !important;
        height: auto !important;
        padding: 2px;
    }

    .rowDropdown {
        font-weight: bold;
        color: #0073ea;
    }

    #searcSpan {
        margin-left: 2px;
        margin-top: -2px;
    }

    #searchSurfaces {
        color: rgb(0, 115, 234);
        height: 23px;
        width: 40px;
        display: block;
        margin: auto;
        /*display: inline-block;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: inherit;
    font-family: arial;
    font-size: 17px;
    padding: .5em .9em .5em 2em;
    text-decoration: none;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);*/
    }

    .modal-dialog {
        width: 800px;
    }

    .left-align {
        margin-left: 0px;
        margin-bottom: 8px;
    }
    .tagsDiv {
        padding-left: 0px;
        padding-right: 0px;
    }
</style>
<div id="Page">

    <h2>Таблица конструкций</h2>
    <div class="zoom">
        <div class="row">
            <div class="row">
                <div class="col-md-5">
                </div>
                <div class="col-md-4">
                    <label>Временной интервал выдачи разрешения</label>
                </div>
                <div class="col-md-4">
                    <label>Временной интервал окончания разрешения</label>
                </div>
            </div>
            <div class="col-md-4" style="padding-top: 21px">
                @{
                    if (role != "ReadOnly")
                    {
                        <p>
                            <!-- Trigger the modal with a button -->
                            <b><input type="button" value="+ Добавить новую конструкцию" id="AddConstruction" class="btn btn-default" data-toggle="modal" data-target="#myModal"></b>
                            <b> <input type="button" value="Поиск" id="search" class="btn btn-default"></b>
                        </p>
                    }
                }
            </div>
            <div class="col-md-1 tagsDiv" style="padding-top: 21px">
                <input type="button" value="Теги" id="chooseTags" class="btn btn-default" data-toggle="modal" data-target="#ChooseTagsModal">
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Начало </label>
                        <br />
                        <input type="date" class="form-control input-sm" id="НачалоРазреш_с" />
                    </div>
                    <div class="form-group">
                        <label>Конец</label>
                        <br />
                        <input type="date" class="form-control input-sm" id="КонецРазреш_с" />
                    </div>
                    <div style="position: relative"></div>
                    <input type="button" value="Поиск" id="searchStartDateRange" style="position: absolute; right: 10px; bottom: 0;" class=" btn btn-default input-sm" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Начало</label>
                        <br />
                        <input type="date" class="form-control input-sm" id="НачалоРазреш_по" />
                    </div>
                    <div class="form-group">
                        <label>Конец</label>
                        <br />
                        <input type="date" class="form-control input-sm" id="КонецРазреш_по" />
                    </div>
                    <div style="position: relative"></div>
                    <input type="button" value="Поиск" id="searchEndDateRange" style="position: absolute; right: 10px; bottom: 0;" class=" btn btn-default input-sm" />
                </div>
            </div>
        </div>


        <table id="table" class="table-bordered" cellpadding="5" style="width: 100%"></table>
        <div id="jpager"></div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" align="center">Выберите тип конструкции</h4>
            </div>
            <div class="modal-body" style="text-align: center;">
                @Html.ActionLink("Щит", "CreateAdvertisingDesign", new { type = "Billboard" }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Металлический указатель", "CreateMetalPointerDesign", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Световой короб", "CreateLightDuctDesign", new { }, new { @class = "btn btn-default", style = "width : 196px; margin-bottom: 8px;" })
                <br />
                @Html.ActionLink("Неопознанная конструкция", "CreateIllegalDesign", new { }, new { @class = "btn btn-default", style = "width : 196px" })
                <br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>
<hr />
<footer>
    <p>
        &copy; @DateTime.Now.Year – <a href="#">OnCloud</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@
    </p>
</footer>

@{ Html.RenderPartial("~/Views/Shared/PatialView/Modals.cshtml");}



<!-- Modal -->
<div id="EditSurfaceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Редактирование поверхности</h4>
            </div>
            <div class="modal-body" id="EditSurfaceModalBody">
                <p>Загрузка...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="saveSurface()">Сохранить</button>
            </div>
        </div>

    </div>
</div>

@Scripts.Render("~/Content/SurfaceValidation");

<!-- Modal -->
<div id="ChooseTagsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Выберите теги</h4>
            </div>
            <div class="modal-body" id="ChooseTagsModaBody">
                <p>Загрузка...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
        </div>

    </div>
</div>