@using Sciencecom.Models
@model  Sciencecom.Models.AdvertisingStructure
@{
    var i = 0;
    ViewBag.Title = "AdvertisingStructure";
    //Собственник конструкциии
    var owners = new SciencecomEntities().Owners.ToList();
   
    //Вид
    var ListTypeAdvertising = new SciencecomEntities().TypeOfAdvertisingStructures.ToList();
 
    //ListTypeAdvertising.Insert(0,null);

 
    //Элемент улично-дорожной сети
    var ListTypeElementOfTheRoadNetworkName = new SciencecomEntities().TheElementOfTheRoadNetworks.Select(a => new { id = a.id, Value = a.TheElementOfTheRoadNetworkName }).ToList();
    
    //Статус
    var Status = new SciencecomEntities().Status.OrderBy(x=>x.OrderByStatus).Select(a => new { id = a.id, Value = a.NameStatus }).ToList();  
    Status.Insert(0,null); 
    
    //Населенный пункт выпадающий список
    var Locality = new SciencecomEntities().Localities.ToList();

    //Идентификационный номер
    var PropertyLocation = new SciencecomEntities().PropertyLocations.ToList();
   
    //Подсветка
    var Backlight = new SciencecomEntities().Backlights.ToList();
    
}
<script type="text/javascript">
    var i = 0;
    var StartCountForSurface;
    var EndCountForSurface = 0;
    var typedesign;
    $(document).ready(function()
    {
        //выпадающий список на согласование
        $("[name=OnAgreement]").change(function()
        {
            var selectIndex = $("[name=OnAgreement] option:selected").val();

            if (selectIndex == "true")
            {
                $("#ContractHide").css("display", "block");
            }
            if (selectIndex == "false")
            {
                $("#ContractHide").css("display", "none");
            }
        });
    });

    // подсчет суммы площадей
    function CalculationAS()
    {
        var Summ = 0;
        $("[selectforspace]").each(function(indx, element)
        {
            if ($(element).val() != "")
            {
                Summ += parseInt($(element).val());
            }
        });
        $("#ConstructionSquare").val(Summ);
    }

//кол-во сторон
    function SetCountSize()
    {
        EndCountForSurface = 0;
        var CountSizes = $('#CountSizes').val();
        $("#CountSize").val(CountSizes);

        $("[code]").each(function(indx, element)
        {
            element.remove();
        });

        for (var i = 1; i <= CountSizes; i++)
        {
            $("#InsertSide").before(
                //
                //Начало секции баяна
                "<div code class=\"panel panel-default\" >" +
                //Хедер секции баяна
                "<div class=\"panel-heading\">" +
                "<h4 class=\"panel-title\">" +
                "<a data-toggle=\"collapse\" href=\"#collapse" + i + "\">Сторона " + i + "</a>" +
                "</h4></div>" +
                //Тело секции баяна
                "<div  id=\"collapse" + i + "\" class=\"panel-collapse collapse in\" >" +
                "<div  class=\"panel-body\" >" +
                "<div  class=\"form-horizontal\" >" +
                "<div class=\"form-group\" >" +
                "<h3 class=\"control-label col-md-2\" for=\"\" style=\"margin-left: 55px\">Сторона  " + i + " </h3>" +
                "</div>" +
                "<div class=\"form-group\">" +
                "<div class=\"col-md-10\">" +
                "<div style=\"float:left\">" +
                "<b>Количество поверхностей</b>" +
                "<select  style=\"width:60px\" class=\"text-box single-line form-control input-sm\" id=\"AddButton" + i + "\" onchange=AddSurface(" + i + ") name=\"CountSurfuce" + i + "\" IdentificationForCountSide=\"\" type=\"text\" data-val=\"true\" data-val-required=\"Укажите кол-во сторон\">" +
                "<option></option>" +
                "<option>1</option>" +
                "<option>2</option>" +
                "<option>3</option>" +
                "<option>4</option>" +
                "<option>5</option>" +
                "<option>6</option>" +
                "<option>7</option>" +
                "<option>8</option>" +
                "</select> </div> &nbsp;&nbsp;&nbsp; <b>Направление стороны</b>" + "<select identificationfordirectionside='IdentificationForDirectionSide' class='form-control' input-sm=\"\"  name=\"[" + (i - 1) + "].DirectionSide\"><option value=\"\"></option>" +
                "<option value=\"27b8c509-8f09-4a0d-ae22-048c2611b7ea\">По ходу движения (сторона А)</option>" +
                "<option value=\"266ea166-67e8-446b-95b1-288b0b876eed\">Против хода движения (сторона В)</option>" +
                "<option value=\"f40319b8-aa82-4182-bec2-4c9b0ba0146d\">На центр перекрестка (сторона А)</option>" +
                "<option value=\"7436112a-122c-4809-9f6c-c5aefff17d6d\">Вращается</option>" +
                "</select>" +
                "</div>" +
                "</div> <div style=\"display: none\" id=\"" + i + "HiddenIdentification\"> &nbsp;&nbsp;&nbsp;<b>Идентификация поверхностей</b>" + "<select identificationforidentificationsurface=\"IdentificationForIdentificationSurface\" class=\"form-control valid\" input-sm=\"\" id=\"IdentificationSurface\" name=\"[" + (i - 1) + "].IdentificationSurface\"><option value=\"\"></option>" +
                "<option value=\"4610cf49-0360-4edb-9f05-752f7d574dcc\">Вертикальная</option>" +
                "<option value=\"95ee0238-134f-4a5c-a9ec-a9f0f02c2c75\">Горизонтальная </option>" +
                "</select></div>" +
                "<div  id=\"InsertPartial" + i + "\"></div>" +
                "</div>" +
                "</div>" +
                "</div>" +
                "</div>"
            );

            $("#SizeOfCount").val(CountSizes);
        }
    }


    //Добавить поверхность+
    function AddSurface(i)
    {
        var count = $("#AddButton" + i + "").val();
        StartCountForSurface = EndCountForSurface;
        EndCountForSurface = parseInt(count) + parseInt(EndCountForSurface);

        if (count == 1)
        {
            $("#" + i + "HiddenIdentification").hide();
        } else
        {
            $("#" + i + "HiddenIdentification").show();
            //валидация
        }
        $("[side=" + i + "]").remove();


        $.ajax('@Url.Action("AddSurface", "Data")', { data: { side: i, StartCountForSurface: StartCountForSurface, EndCountForSurface: EndCountForSurface } })
            .success(function(e)
            {
                $("#InsertPartial" + i + "").before(e);
            });
    }


    //выщитывание площади для каждой поверхности
    function CalculationOfTheArea(j)
    {
        var Height = $('[name="[' + j + '].Height"]').val();
        var Width = $('[name="[' + j + '].Width"]').val();

        if (Height != "" && Width != "")
        {
            var Sum = Height * Width;

            $('[name="[' + j + '].Space"]').val(Sum);
            CalculationAS();
        }
    }


</script>
<style>
    .surfaceInputGroup {
        margin-left: 15px;
    }
    .left-align {
       margin-left: 0px; 
    }
</style>
<h3> КАРТОЧКА КОНСТРУКЦИИ</h3>

@Scripts.Render("~/Content/Map")
@using (Html.BeginForm("CreateAdvertisingDesign", "Data", FormMethod.Post, new { enctype = "multipart/form-data",id="test1" }))
{
    <input type="hidden" name="Code" value="@ViewBag.Code">
    <h3> Общие данные о конструкции</h3>
    @Html.AntiForgeryToken()
    <div class="form-inline" style="margin-bottom: -10px">
        <hr/>

        <input type="hidden" id="CountSize" id="SizeOfCount" name="CountSize" value="">
        @Html.ValidationSummary(true)
        @Html.ValidationMessage("Error")

        <div class="form-group"  >
            <label for="Owner" >Собственник </label>
            @Html.DropDownListFor(a => a.Owner_Id, new SelectList(owners, "id", "Name"), "",new {@class= "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.Owner_Id)
        </div>

        <div class="form-group" >
            <label for="Locality">Вид</label>
            
            @Html.DropDownListFor(a => a.Code, new SelectList(ListTypeAdvertising, "Code", "Name"), new { @disabled = "disabled", @class= "form-control input-sm" })
            @Html.ValidationMessageFor(model => model.Code)
        </div>

        <div class="form-group" >
            <label for="Status" >Статус</label>
            @Html.DropDownListFor(a => a.Status_Id, new SelectList(Status, "id", "Value", ""), new { @class = "form-control input-sm"})
            @Html.ValidationMessageFor(model => model.Status_Id)
        </div>

        <div class="form-group">
            <label for="uniqueNumber">Идентификационный номер</label>
            <input class="text-box single-line form-control" name="uniqueNumber" data-val="true" data-val-required="Введите значение " type="text" value="@ViewBag.UniqueNumber">
            @Html.ValidationMessageFor(model => model.UniqueNumber)
        </div>
        <br>

    </div>

    <div class="form-inline">
        <div class="form-group">
            <label for="PropertyLocation_id" style = "display:none;">Форма собственности места размещения </label>
            @Html.DropDownListFor(a => a.PropertyLocation_id, new SelectList(PropertyLocation, "id", "NamePropertyLocation"), "", new {style = "display:none;",@class="form-control"})
            @Html.ValidationMessageFor(model => model.PropertyLocation_id)
        </div>

        <div class="form-group">
            <label for="Owner"  style = "display:none;">Собственник места размещения</label>
            @Html.EditorFor(model => model.OwnerPlacements, new {htmlattributes = new { style = "display:none;",@class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OwnerPlacements)
        </div>

    </div>
    <h3> Данные о месте расположения конструкции</h3>

     <div class="form-inline">
<table>
                <tr>
                    <td style="width: 150px">
                        <label for="Locality">Нас. пункт</label>
                    </td>
                    <td style="width: 210px">
                        @Html.DropDownListFor(a => a.Locality_id, new SelectList(Locality, "id", "NameLocality", "dbfd4d94-48be-4136-b900-74bc2c5c04aa"), new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(model => model.Locality_id)
                    </td>
                    <td style="width: 150px" class="table-padding">
                        <label for="Street1">Улица</label>
                    </td>
                    <td style="width: 210px">
                        @Html.TextBoxFor(model => model.Street1, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Street1)
                    </td>
                    <td style="width: 110px">
                        
                    </td>
                    <td>
                       
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><input type="button" id="MapSearchStreet" value="Поиск на карте" class="btn btn-inverse"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label for="Street2">Ближайшая улица по ходу движения</label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.Street2, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Street2)
                    </td>
                    <td>
                        <label for="FromStreet">Со стороны улицы </label>
                    </td>
                    <td>
                        @Html.TextBoxFor(model => model.FromStreet, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.FromStreet)
                    </td>
                    <td>
                        <label for="TheElementOfTheRoadNetwork">Элемент улично-дорожной сети</label>
                    </td>
                    <td>
                        @Html.DropDownListFor(a => a.TheElementOfTheRoadNetwork_id, new SelectList(ListTypeElementOfTheRoadNetworkName, "id", "Value"), "",new { @class = "form-control input-sm" })
                        @Html.ValidationMessageFor(a => a.TheElementOfTheRoadNetwork_id)
                    </td>
                </tr>

            </table>
        </div>
        <div class="form-inline">
            <hr />
            <div class="form-group" style="width: 600px; height: 500px" id="map"></div>

            <div class="form-group">

            <table>
                <tr>
                     <td>
                             <label for="coordB">Широта</label>
                        </td>
                        <td>
                            <input  class="text-box single-line form-control" name="Bcoord" id="Bcoord">
                            <span data-valmsg-for="coordB" data-valmsg-replace="true"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="coordH">Долгота</label>
                        </td>
                    <td>
                        <input class="text-box single-line form-control" name="Hcoord" id="Hcoord">

                    </td>
                         </tr>
                </table>
            </div>
        </div>

        <h3> Разрешительная документация</h3>

    <div class="row" style="margin-top: 15px">
            <div class="col-md-2">
                <label for="C_PassportAdvertising">№ паспорта рекламы</label>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.C_PassportAdvertising, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.C_PassportAdvertising)
            </div>
            <div class="col-md-2">
                <label for="DateOfTakenPassport">Дата выдачи паспорта</label>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DateOfTakenPassport, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.DateOfTakenPassport)
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-2">
                <label for="StartDate">разрешен с</label>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
            <div class="col-md-2">
                <label for="EndDate">разрешен по</label>
            </div>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control", @type = "date" })
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="row" style="margin-top: 15px">
        <div class="col-md-4">
            <label for="scanPassport1Sides">Скан паспорта (стор 1)</label>
        </div>
        <div class="col-md-4">
            <label for="scanPassport2Sides">Скан паспорта (стор 2)</label>
        </div>
    </div>

    <div class="col-md-4">
        
        <img class="closeimg" style="width: 20px" src="../../Content/CloseImg.jpg"/>
        <div class="fileUpload btn btn-default input-sm">
            <span accept="image/jpeg/">&nbsp;Стор. 1&nbsp;</span>
            <input type="file" class="upload" name="scanPassport1Sides" accept="image/jpeg/"/>
        </div>
        <label for="scanPassport1Sides">Файл не выбран</label>
        <br/>
        <br/>

    </div>
        <div class="col-md-4">
            <img class="closeimg" style="width:20px" src="../../Content/CloseImg.jpg" />
            <div class="fileUpload btn btn-default input-sm">
                        <span accept="image/jpeg/">&nbsp;Стор. 2&nbsp;</span>
                        <input type="file" class="upload" name="scanPassport2Sides" accept="image/jpeg/"/>
                    </div>
                    <label for="scanPassport2Sides">Файл не выбран</label>
                    <br/>
                    <br/>
                    
        </div>

        <div class="form-horizontal">

            <div class="form-group" style="margin-bottom: 5px">
                <label for="C_ContractFinancialManagement" style="display: none">№ договора с финансовым управлением</label>
              

                <label for="TheDateOfTheContract" style="display: none">Дата договора</label>
       

            </div>

            <div class="form-group">

                <label for="Scan1SidesWithFinancialManagement" style="display: none">Скан 1 страницы договора с финанаосвым управлением</label>
                <input type="file"  name="Scan1SidesWithFinancialManagement" style="display: none" accept="image/jpeg" /><br />
                <span class="field-validation-valid" data-valmsg-for="Scan1SidesWithFinancialManagement" data-valmsg-replace="true" style="display: none"></span>
                @*@Html.Raw("Не более 1 МБ")*@

            </div>
        </div>

        <h3> Описание конструкции</h3>

        <div class="form-inline">
            <hr />
            <div class="form-group">
                <label for="PlannedInstallationDate" style ="display: none;">Планируемая дата установки</label>
                @Html.EditorFor(model => model.PlannedInstallationDate, new { htmlattributes = new { style = "display:none;" }})
                @Html.ValidationMessageFor(model => model.PlannedInstallationDate)
            </div>

            <div class="form-group">
                <label for="DateOfActualInstallation" style ="display: none;">Дата фактической установки</label>
                @Html.EditorFor(model => model.DateOfActualInstallation, new { htmlattributes = new { style = "display:none;" } })
                @Html.ValidationMessageFor(model => model.DateOfActualInstallation)
            </div>



        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="DateDismantling" style ="display: none;">Дата демонтажа</label>
                @Html.EditorFor(model => model.DateDismantling, new { htmlattributes = new { style = "display:none;" } })
                @Html.ValidationMessageFor(model => model.DateDismantling)
            </div>
        </div>
        <div class="form-inline">

            <div class="form-group">
                <label for="CommentOwner">Подсветка</label>
                @Html.DropDownListFor(a => a.Backlight_Id, new SelectList(Backlight, "id", "Name"),"",new {@class= "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Backlight_Id)
            </div>

            <div class="form-group">
                <label for="CommentOwner">Комментарий</label>
                @Html.EditorFor(model => model.CommentOwner, new { htmlattributes = new { @class = "form-control" } })
            </div>

        </div>
    <div class="form-horizontal" style="margin-top: 18px; margin-left: 15px">
        <div class="form-group">
            <label for="ConstructionSquare">Площадь конструкции</label>
            <input id="ConstructionSquare" class="form-control" readonly name="ConstructionSquare" style="background-color: lightgray" type="text" value="">
        </div>
        <div class="form-group">
            <label for="CountSizes">Количество сторон</label>
            <select class="form-control input-sm" style="width: 60px" id="CountSizes" onchange="SetCountSize()" name="CountSizes" type="text" data-val="true">
                <option></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
            <span class="field-validation-validr" data-valmsg-for="CountSizes" data-valmsg-replace="true">
                </span>
        </div>
    </div>
    <div class="container">
        <div class="panel-group" id="accordion">
            <div id="InsertSide"></div>
        </div>
    </div>


        

        <div class="form-group" style="margin-top: 15px;">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default form-control"/>
                @Html.ActionLink("Выйти без сохранения", "AdvertisingDesign", null, new { @class = "btn btn-default" })
            </div>
        </div>
}
<div id="ModalPicturePartial">
    @Html.Partial("PatialView/ModalPicture")
</div>
