
@{
    ViewBag.Title = "Просмотр документов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Просмотр документов объекта</h2>
<h4>Щелкните на изображение для просмотра в полном размере</h4>
@if (ViewBag.Type == "Metal")
{ 
    <div id="image">
    @if (ViewBag.TSMO1)
    {
        <p>
            <h3>@Html.Raw("Паспорт ТСМО:")</h3><br />
        </p>
        string image = "/Images/Metal/" + ViewBag.Id + "1.jpg";
        <p>
          <a href=@image target="_blank"><img src=@image height="500"></a><br />
        </p>
    }
    else
    {
        @Html.Raw("Страница 1 паспорта ТСМО отсутствует.")<br />
    }
    @if (ViewBag.TSMO2)
    {
        string image = "/Images/Metal/" + ViewBag.Id + "2.jpg";;
        <p>
           <a href=@image target="_blank"><img src=@image height = "500"></a><br />
        </p>
    }
    else
    {
        @Html.Raw("Страница 2 паспорта ТСМО отсутствует")<br />
    }
        <p>
            <h3>@Html.Raw("Фотография:")</h3><br />
        </p>
    @if (ViewBag.Photo)
    {
         
        string image = "/Images/Metal/p" + ViewBag.Id + ".jpg"; ;
        <p>
           <a href=@image target="_blank"><img src=@image height="500"></a><br />
        </p>
    }
    else
    {
        @Html.Raw("Фото объекта отсутствует.")<br />
    }
    </div>
}

@if (ViewBag.Type == "Light")
{
    <div id="image" style="width:80%">
        <p>
            <h3>@Html.Raw("Паспорт ТСМО:")</h3><br />
        </p>
        @if (ViewBag.TSMO1)
        {
            string image = "/Images/Light/passport" + ViewBag.Id + "1.jpg";
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница 1 паспорта ТСМО отсутствует.")<br />
        }
        @if (ViewBag.TSMO2)
        {
            
            string image = "/Images/Light/passport" + ViewBag.Id + "2.jpg"; ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница 2 паспорта ТСМО отсутствует.")<br />
        }
        <p>
            <h3>@Html.Raw("Паспорт НР:")</h3><br />
        </p>
        @if (ViewBag.NR1)
        {
            string image = "/Images/Light/ispolkom" + ViewBag.Id + "1.jpg"; ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница 1 паспорта НР отсутствует.")<br />
        }
        @if (ViewBag.NR2)
        {
            string image = "/Images/Light/ispolkom" + ViewBag.Id + "2.jpg"; ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница 2 паспорта НР отсутствует.")<br />
        }
        <p>
            <h3>@Html.Raw("Фотография:")</h3><br />
        </p>
        @if (ViewBag.Photo)
        {
            string image = "/Images/Light/photo" + ViewBag.Id + ".jpg"; ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Фото объекта отсутствует.")<br />
        }
    </div>
}

@if (ViewBag.Type == "LightOnStatement")
{
    <div id="image" style="width:80%">
        <p>
            <h3>@Html.Raw("Паспорт ТСМО:")</h3><br />
        </p>
        @if (ViewBag.TSMO1)
        {
             
            string image = "/Images/Light/passport" + ViewBag.Id + "1.jpg";
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница 1 паспорта ТСМО отсутствует.")<br />
        }
        @if (ViewBag.TSMO2)
        {
            string image = "/Images/Light/passport" + ViewBag.Id + "2.jpg"; ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница 2 паспорта ТСМО отсутствует.")<br />
        }
        <p>
            <h3>@Html.Raw("Заявление:")</h3><br />
        </p>
        @if (ViewBag.Zajavlenie)
        {
           
            string image = "/Images/Light/z" + ViewBag.Id + ".jpg"; ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Заявление отсутствует.")<br />
        }
    </div>
}
@if (ViewBag.Type == "Metal")
{
    <br />
    <p>
        @Html.ActionLink("Вернуться к списку", "Metal")
    </p>
}
@if ((ViewBag.Type == "Light") || (ViewBag.Type == "LightOnStatement"))
{
    <br />
   <p>
        @Html.ActionLink("Вернуться к списку", "Light")
    </p>
}
@if (ViewBag.Type == "Bilboard")
{
    <div id="image" style="width:80%">
        <p>
            <h3>@Html.Raw("Паспорт")</h3><br />
        </p>
        @if (ViewBag.passport)
        {
            string image = "/Images/Billboard/" + ViewBag.Id + "passport.jpg";
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница c паспортом отсутствует.")<br />
        }
        @if (ViewBag.photo)
        {
         <p>
            <h3>@Html.Raw("Фото")</h3><br />
        </p>
            string image = "/Images/Billboard/" + ViewBag.Id + "photo.jpg" ;
            <p>
                <a href=@image target="_blank"><img src=@image height="500"></a><br />
            </p>
        }
        else
        {
            @Html.Raw("Страница с фото отсутствует.")<br />
        }
        @*@if (ViewBag.Surfaces)
        {
            if(ViewBag.Surfaces)
            <p>
                <h3>@Html.Raw("Фото")</h3><br />
            </p>
        }*@
    </div>
}
@if (ViewBag.Type == "Balyn")
{
    <div id="image" style="width:80%">
        <p>
            <h3>@Html.Raw("Поверхность")</h3><br/>
        </p>
       @{
           string image = "/Images/Billboard/surfaces/" + ViewBag.Id + ".jpg";
       }
        <p>
            <a href=@image target="_blank"><img src=@image height="500"></a><br />
        </p>
    </div>
}