@using Newtonsoft.Json
@using Sciencecom.Models
@model  Sciencecom.Models.AdvertisingStructure
@{
    var i = 0;
    ViewBag.Title = "UnidentifiedStructure";
   

    //Вид
    var ListTypeAdvertising = new SciencecomEntities().TypeOfAdvertisingStructures.ToList();



    //Населенный пункт выпадающий список
    var Locality = new SciencecomEntities().Localities.ToList();



}
<script type="text/javascript">
    var i = 0;

    var havePlacemark = @Model.coordB.HasValue.ToString().ToLower();

    var StartCountForSurface;
    var EndCountForSurface = 0;
    var isGreateAdvertisingDesign = false;
    var ArrayOfSides = @Html.Raw(JsonConvert.SerializeObject(Model.Sides.Select(a => new {a.DirectionSide_id, length = a.Surfaces.Count, a.Identification_id}), Formatting.Indented, new JsonSerializerSettings
                       {
                           ReferenceLoopHandling = ReferenceLoopHandling.Ignore
                       }));


    $(document).ready(function()
    {
        ////отключение валидации
        $.validator.methods.number = function(value, element)
        {
            return this.optional(element) || /^-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
        }


        //выпадающий список на согласование
        $("[name=OnAgreement]").change(function()
        {
            var selectIndex = $("[name=OnAgreement] option:selected").val();

            if (selectIndex == "true")
            {
                $("#ContractHide").css("display", "block");
            }
            if (selectIndex == "false")
            {
                $("#ContractHide").css("display", "none");
            }
        });

        //выщитывание площади для каждой поверхности

        $('#SHeight').change(function()
        {
            //alert("!!!");
            CalculationOfTheArea(0);
        });
        $('#Width').change(function()
        {
            //alert("!!!");
            CalculationOfTheArea(0);
        });

        function CalculationOfTheArea(j)
        {
            var Height = $('[name="[' + j + '].Height"]').val();
            var Width = $('[name="[' + j + '].Width"]').val();

            if (Height != "" && Width != "")
            {
                var Sum = Height * Width;

                $('[name="[' + j + '].Space"]').val(Sum);
                CalculationAS();
            }
        }
    });

    // подсчет суммы площадей
    function CalculationAS()
    {
        var Summ = 0;
        $("[selectforspace]").each(function(indx, element)
        {
            if ($(element).val() != "")
            {
                Summ += parseInt($(element).val());
            }
        });
        $("#ConstructionSquare").val(Summ);
    }


</script>
<style>

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

</style>
<h3> КАРТОЧКА НЕОПОЗНАННОЙ КОНСТРУКЦИИ</h3>

@Scripts.Render("~/Content/Map")
@using (Html.BeginForm("EditIllegalDesign", "Data", FormMethod.Post, new { enctype = "multipart/form-data", id = "test1" }))
{
    <input type="hidden" name="Code" value="@Model.Code">
    <h3> Общие данные о конструкции</h3>
    @Html.AntiForgeryToken()
    <div class="form-inline" style="margin-bottom: -10px">
        <hr />

        <input type="hidden" id="CountSize" id="SizeOfCount" name="CountSize" value="">
        @Html.ValidationSummary(true)
        @Html.ValidationMessage("Error")

        <div class="form-group">
            <label for="Locality">Вид</label>
            @Html.DropDownListFor(a => a.Code, new SelectList(ListTypeAdvertising, "Code", "Name"), new { @disabled = "disabled", @class = "form-control input-sm" })
            @Html.HiddenFor(a => a.Code)
            @Html.ValidationMessageFor(model => model.Code)
        </div>
        <br>
    </div>
    <h3>Данные о месте расположения конструкции</h3>
    <hr />
    <div class="row" style="margin-left: 0px">
        <div class="form-inline">

            <div class="form-group" style="display: none">
                <label for="UniqueNumber">Идентификационный номер</label>
                @Html.EditorFor(model => model.UniqueNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.UniqueNumber)
            </div>
            <div class="form-group">
                <label for="Locality">Нас. пункт</label>
                @Html.DropDownListFor(a => a.Locality_id, new SelectList(Locality, "id", "NameLocality"), new { @class = "form-control input-sm" })
                @Html.ValidationMessageFor(model => model.Locality_id)
            </div>

            <div class="form-group">
                <label for="Street1">Улица</label>
                @Html.TextBoxFor(model => model.Street1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Street1)
            </div>

            <div class="form-group">
                <label for="House1">Номер дома</label>
                @Html.TextBoxFor(model => model.House1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.House1)
            </div>


        </div>
        <div class="form-inline" style="margin-top: 15px">
            <div class="form-group">
                <label for="Street2">Ближайшая улица по ходу движения</label>
                @Html.TextBoxFor(model => model.Street2, new { @class = "form-control" })

            </div>

            <div class="form-group">
                <label for="FromStreet">Со стороны улицы</label>
                @Html.TextBoxFor(model => model.FromStreet, new { @class = "form-control" })

            </div>
        </div>
    </div>
    <input type="button" id="MapSearchStreet" class="btn" value="Поиск на карте" style="margin-left: 185px; margin-top: 15px">

    <div class="form-inline">
        <hr />
        <div class="form-group" style="width: 600px; height: 500px" id="map"></div>

        <div class="form-group">
            <table>
                <tr>
                    <td>
                        <label for="Breadth">Широта </label>
                    </td>
                    <td>
                        <input class="text-box single-line" data-val="true" type="text" value="@ViewBag.Bcoord" name="Bcoord" id="Bcoord">
                        @*@Html.TextBoxFor(m => m.coordB, new { @class = "form-control" })*@
                        @*<input class="text-box single-line ui-autocomplete-input" data-val="true" type="text" name="Breadth" id="Breadth">*@
                        <span data-valmsg-for="Breadth" data-valmsg-replace="true"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Height">Долгота</label>
                    </td>
                    <td>
                        <input class="text-box single-line" data-val="true" type="text" value="@ViewBag.Hcoord" name="Hcoord" id="Hcoord">
                        @*@Html.TextBoxFor(m => m.coordH, new {@class = "form-control"})*@
                        @*<input type="text" name="Height" data-val="true" id="Height">*@

                        @Html.ValidationMessageFor(model => model.coordH)
                    </td>
                </tr>
            </table>

        </div>
    </div>

        <h3>Фото</h3>
        <hr />

        <div class="row">

            <div class="col-md-4">
                <label>Фотография 1</label>
                <br/>
                
                @if (ViewBag.photo1)
                {
                    string image = "/Images/photo1/" + ViewBag.Id + "photo1.jpg";
                    string imgName = ViewBag.Id + "photo1.jpg";
                    <input type="hidden" name="PhotoInd1" value="setImage">
                    <img class="closeimg" style="width:20px" src="../../Content/CloseImg.jpg" />
                    <div class="fileUpload btn btn-warning input-sm">
                        <span>&nbsp;&nbsp;Фото 1&nbsp;</span>
                        <input type="file" class="upload" name="photo1" accept="image/jpeg/"/>
                    </div>
                    <label for="photo1">@imgName</label>
                    <br/>
                    <br/>
                    <button type="button" style="margin-left:25px" class="modalPictureTrigger btn btn-default input-sm" data-toggle="modal" onclick="addPic('#ModalPictureDivphoto1', '@image')" data-target="#ViewModalPicturephoto1" >Показать</button>

                }
                else
                {

                    <input type="hidden" name="PhotoInd1" value="">
                    <img class="closeimg" style="width:20px" src="../../Content/CloseImg.jpg" />
                        <div class="fileUpload btn btn-default input-sm">
                             <span accept="image/jpeg/">&nbsp;&nbsp;Фото 1&nbsp;</span>
                             <input type="file" class="upload" name="photo1" accept="image/jpeg/"/>
                         </div>
                    <label for="photo1">Файл не выбран</label>
                    <br/>
                    <br/>
                }

            </div>

            <div class="col-md-4">
                <label>Фотография 2</label>
                <br />
                @if (ViewBag.photo2)
                {
                    <input type="hidden" name="PhotoInd2" value="setImage">
                    string image = "/Images/photo2/" + ViewBag.Id + "photo2.jpg";
                    string img2Name = ViewBag.Id + "photo2.jpg";
                    <img class="closeimg" style="width:20px" src="../../Content/CloseImg.jpg" />
                    <div class="fileUpload btn btn-warning input-sm">
                        <span>&nbsp;&nbsp;Фото 2&nbsp;</span>
                        <input type="file" class="upload" name="photo2" accept="image/jpeg/"/>
                    </div>
                    <label for="photo2">@img2Name</label>
                    <br />
                    <br />
                    <button type="button" style="margin-left:25px" class="modalPictureTrigger btn btn-default input-sm" data-toggle="modal" onclick="addPic('#ModalPictureDivphoto2', '@image')" data-target="#ViewModalPicturephoto2">Показать</button>
                   
                }
                else
                {
                    <input type="hidden" name="PhotoInd2" value="">
                    <img class="closeimg" style="width:20px" src="../../Content/CloseImg.jpg" />
                    <div class="fileUpload btn btn-default input-sm">
                        <span>&nbsp;&nbsp;Фото 2&nbsp;</span>
                        <input type="file" class="upload" name="photo2" accept="image/jpeg/"/>
                    </div>
                    <label for="photo2">Файл не выбран</label>
                    <br />
                    <br />
                   

                }

            </div>
        </div>

        <h3> Комментарий</h3>
        <hr />
        <div class="form-group">
            @Html.TextAreaFor(model => model.ContentInformationDescription, new { cols = "90", rows = "4", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ContentInformationDescription)
        </div>

        <div id="InsertSide" style="display: none">
            <div code="" class="form-horizontal">
                <div class="form-group">
                    <select class="text-box single-line" id="AddButton1" onchange="AddSurface(1)" name="CountSurfuce1" identificationforcountside="" type="text" data-val="true" data-val-required="Укажите кол-во сторон">
                        <option selected="selected">0</option>
                    </select>
                    <select class="valid" identificationfordirectionside="IdentificationForDirectionSide" id="DirectionSide" name="[0].IdentificationForDirectionSide">

                        <option value="27b8c509-8f09-4a0d-ae22-048c2611b7ea" selected="selected">По ходу движения (сторона А)</option>
                    </select>

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
                @Html.ActionLink("Выйти без сохранения", "AdvertisingDesign", null, new { @class = "btn btn-default" })
            </div>
        </div>
}
<div id="ModalPicturePartial">
    @Html.Partial("PatialView/ModalPicture")
</div>