@model IEnumerable<Sciencecom.Models.LightConstruction>
@using Sciencecom.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Световые указатели";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajax = new AjaxOptions
    {
        UpdateTargetId = "constructionsTable",
        Url = Url.Action("ShowMetalTablePArtial"),
    };
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First().ToString();
    List<string> o = new List<string>();
    o.Add("");
    foreach (var item in new SciencecomEntities().Owners.Select(m => m.Name))
    {
        o.Add(item);
    }
    SelectList owners = new SelectList(o);
}
<script src="~/Scripts/Dialog/ObjectOnMap.js"></script>
<script src="~/Scripts/Autocomplete.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("a").click(function (e) {
            if ($(e.currentTarget).hasClass("dropdown-toggle")) {
                if ($(".dropdown").hasClass("open")) {
                    $(".dropdown").removeClass("open")
                } else {
                    $(".dropdown").addClass("open");
                }
            }
        })
    })
</script>
<h2>Световые указатели</h2>
@{
    if (role != "ReadOnly")
    {
        <p>
            <b>@Html.ActionLink("+ Добавить световой указатель с заявлением", "CreateLightOnStatement")</b><br />
            <b>@Html.ActionLink("+ Добавить согласованный световой указатель", "CreateLight")</b>
        </p>
    }
}

<p>
    <h3>Поиск указателей по параметрам:</h3>
</p>
@using (Ajax.BeginForm(ajax))
{
    <table class="table-bordered" cellpadding="5">
        <tr>
            <th>
                @Html.DisplayNameFor(model=>model.Owner)
            </th>
            <th>
                Нас. пункт
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OnStatement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSocial)
            </th>
        </tr>
        <tr>
            <td>
               @Html.DropDownList("owner", owners)
            </td>
            <td>
                <input type="text" name="locality" value="Минск" />
            </td>
            <td>
                @Html.Editor("street1")
            </td>
            <td>
                @Html.Editor("street2")
            </td>
            <td>
                @Html.Editor("fromStreet")
            </td>
            <td>
                @Html.DropDownList("onStatement", new SelectList(new[] { "Не важно", "Да", "Нет" }))
            </td>
            <td>
                @Html.DropDownList("isSocial", new SelectList(new[] { "Не важно", "Да", "Нет" }))
            </td>
            <td></td>
        </tr>
        <tr>
            <th>
                Число (С)
            </th>
            <th>
                Месяц (С)
            </th>
            <th>
                Год (С)
            </th>
           
            <th>
                Число (До)
            </th>
            <th>
                Месяц (До)
            </th>
            <th>
                Год (До)
            </th>
            <th>
                Действие
            </th>
        </tr>
        <tr>
            <td>
                @*<input type="text" name="day" size="5" />*@
                @Html.DropDownList("startDay", new SelectList(new[] { "", "1", "2", "3", "4", "5", "6", "7", "8",
                                                                 "9", "10", "11", "12", "13", "14", "15", "16",
                                                                 "17", "18", "19", "20", "21", "22", "23", "24", "25",
                                                                 "26", "27", "28", "29", "30", "31"}))
            </td>
            <td>
                @*<input type="text" name="day" size="5" />*@
                @Html.DropDownList("startMonth", new SelectList(new[] { "","1", "2", "3", "4", "5", "6", "7", "8",
                                                                 "9", "10", "11", "12"}))
            </td>
            <td>
                <input type="text" name="startYear" size="10" />
            </td>
            <td>
                @*<input type="text" name="day" size="5" />*@
                @Html.DropDownList("finishDay", new SelectList(new[] { "", "1", "2", "3", "4", "5", "6", "7", "8",
                                                                 "9", "10", "11", "12", "13", "14", "15", "16",
                                                                 "17", "18", "19", "20", "21", "22", "23", "24", "25",
                                                                 "26", "27", "28", "29", "30", "31"}))
            </td>
            <td>
                @*<input type="text" name="day" size="5" />*@
                @Html.DropDownList("finishMonth", new SelectList(new[] { "","1", "2", "3", "4", "5", "6", "7", "8",
                                                                 "9", "10", "11", "12"}))
            </td>
            <td>
                <input type="text" name="finishYear" size="10" />
            </td>
          
            <td>
                <input type="submit" value="Поиск" class="btn btn-info" />
            </td>
        </tr>
    </table>
    <p>
        <h3>Таблица данных</h3>
        @Html.ActionLink("Показать всё", "Light")
        <table class="table" cellpadding="5" id="constructionsTable">
            @Html.Action("ShowLightTablePartial", 
            new {
                   lightConstruction = ViewBag.Data,
                   onStatement = ViewBag.OnStatement,
                   isSocial = ViewBag.IsSocial,
                   startDay = ViewBag.StartDay,
                   startMonth = ViewBag.StartMonth,
                   startYear = ViewBag.StartYear,
                   finishDay = ViewBag.FinishDay,
                   finishMonth = ViewBag.FinishMonth,
                   finishYear = ViewBag.FinishYear
                })
        </table>
    </p>
}
<footer>
    <p>&copy; @DateTime.Now.Year – <a href="#" >OnCloud</a> @*| @Html.ActionLink("Лицензионное соглашение", "License", "Home")*@</p>
</footer>

