@model System.Collections.Generic.List<Sciencecom.Models.Surface>
@{
    int i = ViewBag.Incerment;
}

<input type="hidden" name="[@i].SideOfSurface" value="@ViewBag.Side">
<h3 style="margin-left: 150px">Поверхность </h3>
<div class="form-group each1">
    @Html.Label("Высота", new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].Height)
        @Html.ValidationMessageFor(model => model[i].Height)
    </div>
</div>

<div class="form-group each2">
    @Html.Label("Ширина", new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].Width)
        @Html.ValidationMessageFor(model => model[i].Width)
    </div>
</div>

<div class="form-group each3">
    @Html.Label("Площадь", new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].Space)
        @Html.ValidationMessageFor(model => model[i].Space)
    </div>
</div>

<div class="form-group each4">
    @Html.Label("Социальная", new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].IsSocial)
        @Html.ValidationMessageFor(model => model[i].IsSocial)
    </div>
</div>

<div class="form-group each5">
    @Html.Label("Сюжет", new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].Story)
        @Html.ValidationMessageFor(model => model[i].Story)
    </div>
</div>

<div class="form-group each6">
    @Html.Label("Период размещения с", new { @class = "control-label col-md-2 " })
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].StartDate)
        @Html.ValidationMessageFor(model => model[i].StartDate)
    </div>
</div>
<div class="form-group each7">
    @Html.Label("по", new {@class = "control-label col-md-2 "})
    <div class="col-md-10">
        @Html.EditorFor(model => model[i].EndDate)
        @Html.ValidationMessageFor(model => model[i].EndDate)
    </div>
</div>

@*<input type="hidden" id="Shirota" name="[0].SizeForPhoto" value="@ViewBag.Size" />*@
<div class="form-group">
    @Html.Label("Фото для поверхности", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <input type="file" name="[@i].SeveralPhoto" accept="image/jpeg" data-val-required="Выберите файл для загрузки" /><br />
        @Html.Raw("Не более 1 МБ")

    </div>
</div>