@model IEnumerable<Sciencecom.Models.Billboards1>
@using Sciencecom.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity

@{

    if (ViewBag.Results != null)
    {
        if (ViewBag.Results == 0)
        {
            @Html.Label("Поиск не дал результатов. Проверье введённые Вами данные.");
        }
        else
        {
            @Html.Label("Найдено записей по Вашему запросу: ");
    @ViewBag.Results;
        }
    }

}
<tr>
    <th>
        №
    </th>
    <th>
        Владелец
    </th>
    <th>
        Населенный пункт
    </th>
    <th>
        Улица 1
    </th>
    <th>
        Дом
    </th>
    <th>
        Улица 2
    </th>
    <th>
        Сторона
    </th>
    <th>
        Социальная
    </th>
    <th>
        Сюжет
    </th>
    <th>
        Разрешен С
    </th>

    <th>
        Разрешен До.
    </th>

</tr>

@foreach (var item in Model)
{

    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_show)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner.Name)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Locality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.House1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Street2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromStreet)
        </td>

        <td>

            <table>
                @foreach (var Billboard in Model.Where(a=>a.Id==item.Id))
                {
                    foreach (var side in Billboard.Sides)
                    {
                        foreach (var surface in side.Surfaces)
                        {

                            <tr>
                                <td>
                                    @surface.IsSocial
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </td>
    <td>
        <table>
            @foreach (var Billboard in Model.Where(a=>a.Id==item.Id))
            {
                foreach (var side in Billboard.Sides)
                {
                    foreach (var surface in side.Surfaces)
                    {

                        <tr>
                            <td>
                                @surface.Story
                            </td>
                        </tr>
                    }
                }
            }
        </table>
        </td>
            <td>
                @item.StartDate.Date.ToShortDateString()
            </td>
            <td>
                @item.EndDate.Date.ToShortDateString()
            </td>

            <td>
                @{

                    <b>@Html.ActionLink("Документы", "Documents", new { id = item.Id_show, type = "b" })</b><br />
    string idLink = "mapLink" + item.Id.ToString();
    @*<a style="cursor: pointer" id="@idLink">Показать на карте</a><br />
        <script>
             $("#@idLink").on("click", function () {
                 new Messi('<div id="map" style="width: 464px; height: 320px"></div>',
                { title: 'Объект на карте', titleClass: 'info',  buttons: [{ id: 0, label: 'Закрыть', val: 'X' }] });
                 ShowMap("@item.Shirota", "@item.Dolgota");
             });
        </script>*@
    string mapLink = "/Map/?type=b&id=" + item.Id_show;
    <a href="@mapLink" target="_blank">Показать на карте</a><br />
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First().ToString();
    if ((role == "Admin") || (role == "ChiefEditAll") || (role == "SupplierEditAll"))
    {
        @Html.ActionLink("Изменить", "EditBillboard", new { id = item.Id })<br />
                    @Html.ActionLink("Удалить", "DeleteBilboard", new { id = item.Id })<br />
    }
    else
    {
        @*if (((role == "ChiefEditOwn") || (role == "SupplierEditOwn")) && ((user.Company == item.OwnerWhoAdded.Name) || (item.OwnerWhoAdded.Name == "Неизвестно")))
            {
                @Html.ActionLink("Изменить", "EditMetal", new { id = item.Id })<br />
                    @Html.ActionLink("Удалить", "DeleteMetal", new { id = item.Id })<br />

            } ToDo ДОПИЛИТЬ!*@
    }
                }
            </td>
            </tr>
}
