@using System.Data.Entity
@using Sciencecom.Models
@model System.Collections.Generic.List<Sciencecom.Models.Surface>
@{
  

    //Идентификация
    var Identification = new SciencecomEntities().Identifications.ToList();
}

@for (int i=1;i<=ViewBag.Incerment;i++)
{
    <script type="text/javascript">
        //выщитывание площади для каждой поверхности
        $('[name="[' + @i + '].Height"]').change(function () {

            CalculationOfTheArea(@i);
        });
        $('[name="[' + @i + '].Width"]').change(function () {

            CalculationOfTheArea(@i);
        });
    </script>
  <text>  <div side="@ViewBag.Side"> 
        <input type="hidden" name="[@i].SideOfSurface" value="@ViewBag.Side">
        <h3 style="margin-left: 150px">Поверхность @ViewBag.numberSurface &nbsp; Стороны @ViewBag.Side </h3>

        <div class="form-inline">
            <hr/>
            <div class="form-group">

                <input name="[@i].NumberSurface" type="hidden" value="@ViewBag.Side">

                <label for="[@i].Height">Высота</label>
                @Html.EditorFor(model => model[i].Height)
                @Html.ValidationMessageFor(model => model[i].Height)

                <label for="[@i].Width">Ширина</label>
                @Html.EditorFor(model => model[i].Width)
                @Html.ValidationMessageFor(model => model[i].Width)

                <label for="[@i].Space">Площадь</label>
                @Html.EditorFor(model => model[i].Space)
                @Html.ValidationMessageFor(model => model[i].Space)
            </div>
        </div>

    </div></text>
}


