@model Sciencecom.Models.Billboards1

<div class="form-group">
    @Html.Label("Высота", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().Height)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().Height)
    </div>
</div>

<div class="form-group">
    @Html.Label("Ширина", new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().Width)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().Width)
    </div>
</div>

<div class="form-group">
    @Html.Label("Площадь", new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().Space)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().Space)
    </div>
</div>

<div class="form-group">
    @Html.Label("Социальная", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().IsSocial)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().IsSocial)
    </div>
</div>

<div class="form-group">
    @Html.Label("Сюжет", new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().Story)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().Story)
    </div>
</div>

<div class="form-group">
    @Html.Label("Период размещения с", new {@class = "control-label col-md-2"})
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().StartDate)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().StartDate)
    </div>
</div>
<div class="form-group">
    @Html.Label("по", new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Sides.Single().Surfaces.Single().EndDate)
        @Html.ValidationMessageFor(model => model.Sides.Single().Surfaces.Single().EndDate)
    </div>
</div>

<div id="PartialView1"></div>
<div id="PartialView2"></div>
<div id="PartialView3"></div>