@model IEnumerable<Sciencecom.Models.IllegalConstruction>
@using Sciencecom.Models
@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Неопознанные конструкции";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var um = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    ApplicationUser user = um.FindByName(User.Identity.GetUserName());
    string role = user.Roles.Select(m => m.Role.Name).First().ToString();
}
@section scripts
{
    <script src="~/Scripts/ChangeDropDown.js"></script>
    <script src="~/Scripts/Dialog/ObjectOnMap.js"></script>
}
<style type="text/css">
    select {
        max-width: 90px !important;
    }
</style>

<h2>Неопознанные конструкции</h2>

<p>
    @if (role != "ReadOnly")
    {
        @Html.ActionLink("Добавить конструкцию", "Create")
    }
</p>
<div>
    <div style="margin-left: 10px; margin-right: 10px; float: left;">
        <img src="/Content/Icons/0.png" /> - Новый объект
    </div>
    <div style="margin-left: 10px; margin-right: 10px; float: left;">
        <img src="/Content/Icons/1.png" /> - Рассматривается
    </div>
    <div style="margin-left: 10px; margin-right: 10px; float: left;">
        <img src="/Content/Icons/2.png" /> - Нелегальный объект
    </div>
    <div style="margin-left: 10px; margin-right: 10px; float: left;">
        <img src="/Content/Icons/3.png" /> - Легальный объект
    </div>
    <div style="margin-left: 10px; margin-right: 10px; float: left;">
        <img src="/Content/Icons/4.png" />  - Демонтирован
    </div>
</div>


<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Status)</th>
        <th>
            @Html.DisplayNameFor(model => model.Locality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Street2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromStreet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetectionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AdditionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NotingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolvingDate)
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.Partial("_Status", new List<int>() { item.Id, item.Status })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromStreet)
            </td>

            <td>
                @if (item.DetectionDate != null)
                {
                    @item.DetectionDate.Value.ToShortDateString()
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                @item.AdditionDate.ToShortDateString()
            </td>
            @{
                  string id = item.Id.ToString() + "notingDate";
             }
            <td id="@id">
                @if (item.NotingDate != null)
                {
                    @item.NotingDate.Value.ToShortDateString()
                }
                else
                {
                    <text>-</text>
                }
            </td>
            @{
                   id = item.Id.ToString() + "solvingDate";
            }
            <td id="@id">   
                @if (item.SolvingDate != null)
                {
                    @item.SolvingDate.Value.ToShortDateString()
                }
                else
                {
                    <text>-</text>
                }
            </td>
            <td>
                <a style="cursor: pointer" id="note" class="@item.Id">Примечание</a>
                @{
                string whoAdded = item.WhoTakeNote == null ? "-" : item.WhoTakeNote;
                HtmlString note = new HtmlString("");
                if (item.Note != null)
                {
                    note = new HtmlString(item.Note.Replace(System.Environment.NewLine, "<br />"));
                }
                }
                <script>
                    $("#note.@item.Id").on("click", function () {
                        new Messi('<b>Добавил:</b> <i>@item.WhoAdded</i>.<br/>' +
                            '<b>Последний редактировал:</b> <i>@item.WhoLastEdited</i>.<br/>' +
                            '<b>Принял к сведению:</b> <i>@whoAdded</i>.<br/>' +
                            '<hr>@note',
                         { title: 'Примечание', titleClass: 'info', buttons: [{ id: 0, label: 'Закрыть', val: 'X' }] });
                    })
                </script>
                <br />
                @{
                    string idLink = "mapLink" + item.Id.ToString();
                    string mapLink = "/Map/?type=i&id=" + item.Id;
                    <a href="@mapLink" >Показать на карте</a> <br />
                }
                @*<a style="cursor: pointer" id="@idLink">Показать на карте</a><br />
                <script>
                    $("#@idLink").on("click", function () {
                        new Messi('<div id="map" style="width: 464px; height: 320px"></div>',
                       { title: 'Объект на карте', titleClass: 'info', buttons: [{ id: 0, label: 'Закрыть', val: 'X' }] });
                        ShowMap("@item.Shirota", "@item.Dolgota");
                    });
                </script>*@
                @{
                   string idFile1 = "file1Link" + item.Id.ToString();
                   string idFile2 = "file2Link" + item.Id.ToString();
                }
                @if (System.IO.File.Exists(Server.MapPath("~/Images/Illegal/" + item.Id + "file1.jpg")))
                {
                    <a style="cursor: pointer" id="@idFile1">Файл №1</a><br />
                    <script>
                       $("#@idFile1").on("click", function () {
                        Messi.img('/Images/Illegal/' + @item.Id + 'file1.jpg');
                       });
                   </script>
                }
                @if (System.IO.File.Exists(Server.MapPath("~/Images/Illegal/" + item.Id + "file2.jpg")))
                {
                    <a style="cursor: pointer" id="@idFile2">Файл №2</a><br />
                <script>
                   $("#@idFile2").on("click", function () {
                        Messi.img('/Images/Illegal/' + @item.Id + 'file2.jpg');
                   });
                </script>
                }
                @if ((role == "Admin") || (role == "IllegalEdit"))
                {
                    @Html.ActionLink("Изменить", "Edit", new { id = item.Id })<br />
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }
</table>


