@model Sciencecom.Models.Owner

@{
    ViewBag.Title = "Информация о владельце";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Информация о владельце</h2>

<div>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @{
        string reference = ViewBag.BackRef;
        <a href=@reference>Назад к списку</a><br />
    }
    
</p>
